/* COLORS */
/* BORDER */
/*font-size*/
/* BUTTON */
/* line 25, ../sass/includes/_include.scss */
.grey_button {
  background: #ddd;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
/* line 30, ../sass/includes/_include.scss */
.grey_button:hover, .grey_button:focus {
  color: #fff;
  background-color: #e09b0f;
}

/* line 36, ../sass/includes/_include.scss */
.blue_button, .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  background: #0d436f;
  cursor: pointer;
}
/* line 44, ../sass/includes/_include.scss */
.blue_button:hover, .blue_button:focus, .form-submit:hover, .form-submit:focus {
  background-color: #e09b0f;
}

/* line 49, ../sass/includes/_include.scss */
.font_awesome, #block-search-form .form-actions:before, #slideshow-wrapper .views-slideshow-controls-text-previous:before, #slideshow-wrapper .views-slideshow-controls-text-next:before, #panel-fifth-wrapper ul.menu li:before, #page .jcarousel-container .jcarousel-prev:before,
#page .jcarousel-container .jcarousel-next:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Transition */
/* block.scss */
/* header */
/* line 8, ../sass/block.scss */
#header-wrapper {
  background: #eef3f6;
  min-height: 90px;
}
/* line 11, ../sass/block.scss */
#header-wrapper .container {
  padding-top: 22px;
}

/* line 16, ../sass/block.scss */
.region-header {
  float: right;
  padding-top: 8px;
}

/* line 21, ../sass/block.scss */
#block-search-form {
  position: relative;
  background: #fff;
  border: 1px solid #dddddd;
  height: 30px;
  width: 275px;
}
/* line 28, ../sass/block.scss */
#block-search-form .form-item,
#block-search-form .form-actions {
  margin: 0;
}
/* line 32, ../sass/block.scss */
#block-search-form .form-item-search-block-form .form-text {
  width: 100%;
}
/* line 36, ../sass/block.scss */
#block-search-form .form-actions {
  right: 0;
  top: 0;
  position: absolute;
  color: #454545;
  width: 30px;
  height: 28px;
}
/* line 43, ../sass/block.scss */
#block-search-form .form-actions:before {
  content: "\f002";
  position: absolute;
  left: 9px;
  top: 7px;
  text-align: center;
  z-index: 1;
}
/* line 53, ../sass/block.scss */
#block-search-form .form-submit {
  width: 30px;
  height: 28px;
  border: none;
  text-indent: -999em;
  margin: 0;
  padding: 0;
  background: transparent;
  position: relative;
  z-index: 2;
}
/* line 64, ../sass/block.scss */
#block-search-form .form-text {
  margin: 0;
  border: none;
  padding: 5px 8px;
  height: 28px;
}

/* line 72, ../sass/block.scss */
.search-icon {
  display: none;
}

/* slideshow */
/* line 79, ../sass/block.scss */
#slideshow-wrapper {
  background: #1c567e;
  border-top: 1px solid #09355a;
}
/* line 82, ../sass/block.scss */
#slideshow-wrapper .views-row {
  padding-bottom: 0;
}
/* line 85, ../sass/block.scss */
#slideshow-wrapper .views-field {
  margin-bottom: 0;
}
/* line 88, ../sass/block.scss */
#slideshow-wrapper .slideshow-info-wrapper {
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 110;
  padding: 20px;
  background: rgba(0, 0, 0, 0.55);
  max-width: 560px;
  color: #fff;
}
/* line 98, ../sass/block.scss */
#slideshow-wrapper .views-field-title {
  margin-bottom: 5px;
}
/* line 100, ../sass/block.scss */
#slideshow-wrapper .views-field-title a {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}
/* line 106, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-cycle-main-frame {
  position: relative;
  width: 100% !important;
}
/* line 110, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 113, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-top {
  position: absolute;
  z-index: 110;
  left: 0;
  top: 170px;
}
/* line 119, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-pause {
  display: none;
}
/* line 122, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-previous {
  width: 30px;
  height: 30px;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  float: left;
  text-align: center;
  margin-right: 1px;
  color: #999;
}
/* line 132, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-previous:before {
  content: "\f104";
  font-size: 28px;
  line-height: 30px;
}
/* line 138, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-previous a {
  display: none;
}
/* line 142, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-previous:hover, #slideshow-wrapper .views-slideshow-controls-text-previous:focus {
  text-decoration: none;
  background: rgba(224, 155, 15, 0.9);
  color: #fbd891;
}
/* line 148, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-next {
  width: 30px;
  height: 30px;
  display: block;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  float: left;
  text-align: center;
  color: #999;
}
/* line 157, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-next:before {
  content: "\f105";
  font-size: 28px;
  line-height: 100%;
}
/* line 163, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-next a {
  display: none;
}
/* line 167, ../sass/block.scss */
#slideshow-wrapper .views-slideshow-controls-text-next:hover, #slideshow-wrapper .views-slideshow-controls-text-next:focus {
  text-decoration: none;
  background: rgba(224, 155, 15, 0.9);
  color: #fbd891;
}
/* line 173, ../sass/block.scss */
#slideshow-wrapper .views_slideshow_cycle_main {
  position: relative;
}
/* line 176, ../sass/block.scss */
#slideshow-wrapper .views-field-type-image:before {
  width: 360px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
  background: url(../images/bg-mask-left.png) 0 0 repeat-y;
  content: '';
}
/* line 186, ../sass/block.scss */
#slideshow-wrapper .views-field-type-image:after {
  width: 360px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
  background: url(../images/bg-mask-right.png) 0 0 repeat-y;
  content: '';
}
/* line 197, ../sass/block.scss */
#slideshow-wrapper .views-field-view-node a {
  color: #fff;
  font-style: italic;
}
/* line 201, ../sass/block.scss */
#slideshow-wrapper .views-field-view-node a:hover, #slideshow-wrapper .views-field-view-node a:focus {
  color: #fff;
}
/* line 206, ../sass/block.scss */
#slideshow-wrapper .content {
  position: relative;
}

/* panel first */
/* line 214, ../sass/block.scss */
#panel-first-wrapper {
  background: #e0e0e0;
  padding: 20px 0;
  margin-bottom: 30px;
}
/* line 218, ../sass/block.scss */
#panel-first-wrapper p {
  margin: 0;
}
/* line 221, ../sass/block.scss */
#panel-first-wrapper .btn-1 {
  float: right;
  font-size: 18px;
  padding: 8px 20px;
  margin: 0 0 0 15px;
}
/* line 227, ../sass/block.scss */
#panel-first-wrapper .intro {
  margin-bottom: 0;
  font-size: 20px;
  text-transform: none;
  display: inline-block;
  padding-top: 6px;
}

/* panel second */
/* line 239, ../sass/block.scss */
.panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  border: none;
}

/* line 247, ../sass/block.scss */
#panel-second-wrapper {
  background: none;
  margin: 0;
}
/* line 251, ../sass/block.scss */
#panel-second-wrapper .views-field-type-image,
#panel-second-wrapper .views-field-picture {
  margin-bottom: 15px;
}
/* line 254, ../sass/block.scss */
#panel-second-wrapper .views-row {
  padding-bottom: 0;
}
/* line 257, ../sass/block.scss */
#panel-second-wrapper .container {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 40px;
  margin-bottom: 40px;
}
/* line 263, ../sass/block.scss */
#panel-second-wrapper .views-field-title,
#panel-second-wrapper .views-field-name {
  font-size: 16px;
  margin-bottom: 10px;
}

/* line 270, ../sass/block.scss */
.views-field-view-node,
.views-field-view-user {
  font-style: italic;
}

/* panel fourth */
/* line 277, ../sass/block.scss */
#panel-fourth-wrapper {
  margin: 0;
  background: #e0e0e0;
  padding: 30px 0;
}

/* line 284, ../sass/block.scss */
.contact-info i {
  margin-right: 5px;
}

/* line 289, ../sass/block.scss */
#newsletter-subscribe-form {
  margin-top: 1em;
}
/* line 291, ../sass/block.scss */
#newsletter-subscribe-form .form-text {
  padding: 8px;
  width: 95%;
  border: 1px solid #bdbcbc;
}
/* line 296, ../sass/block.scss */
#newsletter-subscribe-form .form-submit {
  background: #0c426f;
  color: #fff;
  padding: 7px 15px;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}
/* line 304, ../sass/block.scss */
#newsletter-subscribe-form .form-submit:hover, #newsletter-subscribe-form .form-submit:focus {
  background: #e09b0f;
}
/* line 308, ../sass/block.scss */
#newsletter-subscribe-form #newsletter-error {
  color: #8C2E0B;
  font-size: 12px;
  margin-bottom: 10px;
  display: none;
}
/* line 314, ../sass/block.scss */
#newsletter-subscribe-form .ajax-progress {
  padding-top: 5px;
}

/* panel fifth */
/* line 322, ../sass/block.scss */
#panel-fifth-wrapper {
  margin: 0;
  background: #0c426f;
  padding: 30px 0;
  color: #6991b7;
  border-bottom: 1px solid #072848;
}
/* line 328, ../sass/block.scss */
#panel-fifth-wrapper h2 {
  color: #fff;
  margin: 0 0 15px;
}
/* line 332, ../sass/block.scss */
#panel-fifth-wrapper ul.menu {
  margin: 0;
  padding: 0;
}
/* line 335, ../sass/block.scss */
#panel-fifth-wrapper ul.menu li {
  list-style-image: none;
  list-style-type: none;
  padding: 0 0 0 12px;
  margin: 0 0 5px;
  position: relative;
}
/* line 341, ../sass/block.scss */
#panel-fifth-wrapper ul.menu li a {
  color: #6991b7;
}
/* line 344, ../sass/block.scss */
#panel-fifth-wrapper ul.menu li a:hover, #panel-fifth-wrapper ul.menu li a:focus {
  color: #fff;
}
/* line 348, ../sass/block.scss */
#panel-fifth-wrapper ul.menu li:before {
  content: "\f105";
  position: absolute;
  left: 0;
  top: 2px;
}
/* line 358, ../sass/block.scss */
#panel-fifth-wrapper .item-list ul {
  margin: 0;
}
/* line 360, ../sass/block.scss */
#panel-fifth-wrapper .item-list ul li {
  padding: 0 0 10px;
  margin: 0 0 10px;
  list-style: none;
  border-bottom: 1px solid #2f608a;
}
/* line 365, ../sass/block.scss */
#panel-fifth-wrapper .item-list ul li a {
  color: #6991b7;
}
/* line 368, ../sass/block.scss */
#panel-fifth-wrapper .item-list ul li a:hover, #panel-fifth-wrapper .item-list ul li a:focus {
  color: #fff;
}
/* line 372, ../sass/block.scss */
#panel-fifth-wrapper .item-list ul li span {
  display: block;
  font-style: italic;
  color: #97c0e7;
  padding-top: 3px;
  font-size: 12px;
}
/* line 380, ../sass/block.scss */
#panel-fifth-wrapper .item-list ul .last {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 389, ../sass/block.scss */
#panel-fifth-wrapper .view-photo-stream .views-row,
#panel-fifth-wrapper .photo-list .views-row {
  margin: 0 0 15px;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 393, ../sass/block.scss */
#panel-fifth-wrapper .view-photo-stream .views-row .views-field-type-image,
#panel-fifth-wrapper .photo-list .views-row .views-field-type-image {
  margin-bottom: 0;
}
/* line 397, ../sass/block.scss */
#panel-fifth-wrapper .view-photo-stream a,
#panel-fifth-wrapper .photo-list a {
  padding: 4px;
  border: 1px solid #2f608a;
  display: inline-block;
}
/* line 402, ../sass/block.scss */
#panel-fifth-wrapper .view-photo-stream a:hover, #panel-fifth-wrapper .view-photo-stream a:focus,
#panel-fifth-wrapper .photo-list a:hover,
#panel-fifth-wrapper .photo-list a:focus {
  border-color: #4a7da8;
}
/* line 408, ../sass/block.scss */
#panel-fifth-wrapper #newsletter-subscribe-form .form-submit {
  background-color: #e09b0f;
}

/* main */
/* line 420, ../sass/block.scss */
.front #main-wrapper #block-system-main div.views-row .views-field-type-image {
  display: block;
  float: left;
  margin: 0 15px 10px 0;
}
/* line 425, ../sass/block.scss */
.front #main-wrapper #block-system-main div.views-row .views-row-last {
  border-bottom: none;
  margin-bottom: 0;
}
/* line 429, ../sass/block.scss */
.front #main-wrapper #block-system-main div.views-row .views-field-title {
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 433, ../sass/block.scss */
.front #main-wrapper #block-system-main div.views-row .views-field-created {
  font-size: 12px;
  color: #666666;
  margin-bottom: 10px;
}
/* line 439, ../sass/block.scss */
.front #main-wrapper #block-system-main div.views-row-first {
  padding-top: 0;
}
/* line 442, ../sass/block.scss */
.front #main-wrapper #block-system-main div.views-row-last {
  border-bottom: none;
  padding-bottom: 0;
}

/* line 449, ../sass/block.scss */
#main-wrapper {
  margin-bottom: 30px;
}

/* line 456, ../sass/block.scss */
.sidebar .view-our-members .views-row,
.sidebar .our-members-list .views-row {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 462, ../sass/block.scss */
.sidebar .view-our-members .views-field-picture,
.sidebar .our-members-list .views-field-picture {
  float: left;
  margin: 0 15px 0 0;
  width: auto;
}
/* line 467, ../sass/block.scss */
.sidebar .view-our-members .views-row-last,
.sidebar .our-members-list .views-row-last {
  border-bottom: none;
  padding-bottom: 0;
}
/* line 471, ../sass/block.scss */
.sidebar .view-our-members .views-field-name,
.sidebar .our-members-list .views-field-name {
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 475, ../sass/block.scss */
.sidebar .view-our-members .views-field-field-position,
.sidebar .our-members-list .views-field-field-position {
  color: #666666;
}
/* line 477, ../sass/block.scss */
.sidebar .view-our-members .views-field-field-position a,
.sidebar .our-members-list .views-field-field-position a {
  color: #666666;
}

/* line 486, ../sass/block.scss */
.sidebar h2,
.menu-list h2 {
  margin-bottom: 20px;
}
/* line 490, ../sass/block.scss */
.sidebar .item-list li,
.menu-list .item-list li {
  padding: 8px 0 8px 0;
  margin: 0;
  list-style: none;
  position: relative;
}
/* line 495, ../sass/block.scss */
.sidebar .item-list li a,
.menu-list .item-list li a {
  color: #000;
}
/* line 498, ../sass/block.scss */
.sidebar .item-list li a:hover, .sidebar .item-list li a:focus,
.menu-list .item-list li a:hover,
.menu-list .item-list li a:focus {
  color: #e09b0f;
}
/* line 503, ../sass/block.scss */
.sidebar .item-list li.views-row,
.menu-list .item-list li.views-row {
  padding-left: 0;
}
/* line 505, ../sass/block.scss */
.sidebar .item-list li.views-row:before,
.menu-list .item-list li.views-row:before {
  content: '';
}
/* line 508, ../sass/block.scss */
.sidebar .item-list li.views-row .views-field-title,
.menu-list .item-list li.views-row .views-field-title {
  font-size: 16px;
}
/* line 516, ../sass/block.scss */
.sidebar .service-list .item-list .views-row .views-field,
.menu-list .service-list .item-list .views-row .views-field {
  margin-bottom: 0;
}
/* line 519, ../sass/block.scss */
.sidebar .service-list .item-list .views-row .views-field-title,
.menu-list .service-list .item-list .views-row .views-field-title {
  font-size: 13px;
}
/* line 525, ../sass/block.scss */
.sidebar .block,
.menu-list .block {
  margin-bottom: 30px;
}
/* line 527, ../sass/block.scss */
.sidebar .block:last-child,
.menu-list .block:last-child {
  margin-bottom: 0;
}
/* line 531, ../sass/block.scss */
.sidebar div.views-row,
.menu-list div.views-row {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 535, ../sass/block.scss */
.sidebar div.views-row:after,
.menu-list div.views-row:after {
  content: '';
  clear: both;
  display: table;
}
/* line 541, ../sass/block.scss */
.sidebar div.views-row-last,
.menu-list div.views-row-last {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* line 546, ../sass/block.scss */
.sidebar .views-field-title,
.menu-list .views-field-title {
  font-size: 13px;
  margin-bottom: 5px;
}
/* line 550, ../sass/block.scss */
.sidebar .views-field-type-image,
.menu-list .views-field-type-image {
  float: left;
  margin: 0 15px 5px 0;
}
/* line 554, ../sass/block.scss */
.sidebar .views-field-created,
.menu-list .views-field-created {
  font-size: 12px;
  color: #666666;
}
/* line 558, ../sass/block.scss */
.sidebar .quicktabs-tabs,
.menu-list .quicktabs-tabs {
  background: #ddd;
  margin-bottom: 15px;
  padding-left: 5px;
}
/* line 562, ../sass/block.scss */
.sidebar .quicktabs-tabs li,
.menu-list .quicktabs-tabs li {
  padding: 0;
  margin: 0;
}
/* line 565, ../sass/block.scss */
.sidebar .quicktabs-tabs li:before,
.menu-list .quicktabs-tabs li:before {
  content: '';
  margin: 0;
  padding: 0;
}
/* line 570, ../sass/block.scss */
.sidebar .quicktabs-tabs li a,
.menu-list .quicktabs-tabs li a {
  display: inline-block;
  padding: 10px 10px;
}
/* line 576, ../sass/block.scss */
.sidebar .quicktabs-tabs .active a,
.menu-list .quicktabs-tabs .active a {
  background: #fff;
  border-top: 5px solid #e09b0f;
  padding-top: 15px;
  margin-top: -5px;
}
/* line 584, ../sass/block.scss */
.sidebar ul.menu,
.menu-list ul.menu {
  padding-left: 0;
}
/* line 586, ../sass/block.scss */
.sidebar ul.menu li.leaf,
.menu-list ul.menu li.leaf {
  list-style-image: none;
  list-style-type: none;
}
/* line 590, ../sass/block.scss */
.sidebar ul.menu li,
.menu-list ul.menu li {
  padding: 8px 0;
  margin: 0;
  border-bottom: 1px solid #dddddd;
}
/* line 596, ../sass/block.scss */
.sidebar .flexslider,
.menu-list .flexslider {
  margin: 0 0 55px;
  background: #ddd;
}
/* line 599, ../sass/block.scss */
.sidebar .flexslider:before,
.menu-list .flexslider:before {
  background: none;
}
/* line 602, ../sass/block.scss */
.sidebar .flexslider .testimonial-author-wrapper,
.menu-list .flexslider .testimonial-author-wrapper {
  position: static;
  left: auto;
  width: auto;
  margin-bottom: 10px;
  text-align: center;
}
/* line 611, ../sass/block.scss */
.sidebar .photo-list div.views-row,
.menu-list .photo-list div.views-row {
  border-bottom: none;
  padding-bottom: 0;
}
/* line 618, ../sass/block.scss */
.sidebar #search-block-form .form-item,
.sidebar #search-block-form .form-actions,
.menu-list #search-block-form .form-item,
.menu-list #search-block-form .form-actions {
  float: none;
  display: block;
}
/* line 622, ../sass/block.scss */
.sidebar #search-block-form .form-text,
.menu-list #search-block-form .form-text {
  width: 98%;
}

/* line 630, ../sass/block.scss */
.ads-list div.views-row,
.view-ads div.views-row {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
/* line 635, ../sass/block.scss */
.ads-list .views-field,
.view-ads .views-field {
  margin: 0;
}
/* line 638, ../sass/block.scss */
.ads-list .views-field-type-image,
.view-ads .views-field-type-image {
  border: 1px solid #dddddd;
  padding: 2px;
  float: none;
  margin: 0;
}
/* line 647, ../sass/block.scss */
.ads-list .views-field-title,
.view-ads .views-field-title {
  position: absolute;
  left: 0;
  bottom: 15px;
  z-index: 10;
  width: 100%;
}
/* line 653, ../sass/block.scss */
.ads-list .views-field-title a,
.view-ads .views-field-title a {
  display: block;
  padding: 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 3px 3px 3px;
}
/* line 660, ../sass/block.scss */
.ads-list .views-field-title a:hover, .ads-list .views-field-title a:focus,
.view-ads .views-field-title a:hover,
.view-ads .views-field-title a:focus {
  color: #e09b0f;
}
/* line 665, ../sass/block.scss */
.ads-list .views_slideshow_cycle_main,
.view-ads .views_slideshow_cycle_main {
  position: relative;
}

/* footer */
/* line 673, ../sass/block.scss */
#footer-wrapper {
  background: #072848;
  padding: 25px 0;
  color: #6991b7;
  border-top: 1px solid #1b548b;
}
/* line 678, ../sass/block.scss */
#footer-wrapper .block {
  float: left;
}
/* line 681, ../sass/block.scss */
#footer-wrapper #block-menu-menu-footer-menu {
  float: right;
}
/* line 683, ../sass/block.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu {
  margin: 0;
  padding: 0;
}
/* line 686, ../sass/block.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li {
  display: block;
  float: left;
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0 0 0 10px;
  border-left: 1px solid #6991b7;
  line-height: 100%;
}
/* line 694, ../sass/block.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li a {
  color: #6991b7;
}
/* line 697, ../sass/block.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li a:hover, #footer-wrapper #block-menu-menu-footer-menu ul.menu li a:focus {
  color: #fff;
}
/* line 701, ../sass/block.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li:first-child {
  border-left: none;
}
/* line 707, ../sass/block.scss */
#footer-wrapper a {
  color: #e09b0f;
}
/* line 710, ../sass/block.scss */
#footer-wrapper a:hover, #footer-wrapper a:focus {
  color: #fff;
}
/* line 714, ../sass/block.scss */
#footer-wrapper p {
  margin: 0;
}

/* panel third */
/* line 722, ../sass/block.scss */
#panel-third-wrapper {
  margin-bottom: 30px;
}
/* line 724, ../sass/block.scss */
#panel-third-wrapper .container {
  border-top: 1px solid #dddddd;
  padding-top: 30px;
}

/* line 731, ../sass/block.scss */
#page .jcarousel-container {
  width: 100%;
  height: auto;
  padding: 10px 0 0;
}
/* line 735, ../sass/block.scss */
#page .jcarousel-container .jcarousel-clip-horizontal {
  width: 100%;
}
/* line 737, ../sass/block.scss */
#page .jcarousel-container .jcarousel-clip-horizontal ul {
  width: 100%;
}
/* line 740, ../sass/block.scss */
#page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
  height: auto;
  border: 1px solid #dddddd;
  padding: 2px;
  width: 176px;
  margin: 0 22px 0 0;
}
/* line 747, ../sass/block.scss */
#page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item:hover, #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item:focus {
  border-color: #dddddd;
}
/* line 750, ../sass/block.scss */
#page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item .views-field {
  margin-bottom: 0;
}
/* line 754, ../sass/block.scss */
#page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item:hover, #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item:focus {
  border-color: #bbbbbb;
}
/* line 760, ../sass/block.scss */
#page .jcarousel-container .jcarousel-prev,
#page .jcarousel-container .jcarousel-next {
  position: absolute;
  left: auto;
  right: 36px;
  top: -42px;
  z-index: 10;
  width: 30px;
  height: 30px;
  background: #dddddd;
  text-align: center;
  color: black;
}
/* line 771, ../sass/block.scss */
#page .jcarousel-container .jcarousel-prev:before,
#page .jcarousel-container .jcarousel-next:before {
  content: "\f104";
  font-size: 19px;
  line-height: 1.6;
}
/* line 778, ../sass/block.scss */
#page .jcarousel-container .jcarousel-prev:hover, #page .jcarousel-container .jcarousel-prev:focus,
#page .jcarousel-container .jcarousel-next:hover,
#page .jcarousel-container .jcarousel-next:focus {
  background: #e09b0f;
  color: #fff;
}
/* line 783, ../sass/block.scss */
#page .jcarousel-container .jcarousel-next {
  right: 0;
}
/* line 785, ../sass/block.scss */
#page .jcarousel-container .jcarousel-next:before {
  content: "\f105";
}

/* breadcrumb */
/* line 795, ../sass/block.scss */
#breadcrumb-wrapper {
  background: #0c426f;
  padding: 10px 0;
  border-bottom: 1px solid #072848;
  border-top: 1px solid #1b548b;
}
/* line 800, ../sass/block.scss */
#breadcrumb-wrapper .breadcrumb {
  background: none;
  padding: 0;
  margin: 0;
  color: #6991b7;
}
/* line 805, ../sass/block.scss */
#breadcrumb-wrapper .breadcrumb a {
  color: #6991b7;
}
/* line 808, ../sass/block.scss */
#breadcrumb-wrapper .breadcrumb a:hover, #breadcrumb-wrapper .breadcrumb a:focus {
  color: #fff;
}

/* */
/* line 818, ../sass/block.scss */
.flexslider {
  margin: 0 0 0 160px;
  box-shadow: none;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
}
/* line 824, ../sass/block.scss */
.flexslider .testimonial-author-wrapper {
  position: absolute;
  left: -160px;
  top: 0;
  z-index: 2;
  width: 100px;
  overflow: hidden;
  text-align: center;
}
/* line 832, ../sass/block.scss */
.flexslider .testimonial-author-wrapper .views-field-picture {
  margin: 0 0 10px;
}
/* line 834, ../sass/block.scss */
.flexslider .testimonial-author-wrapper .views-field-picture img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: auto;
  margin: 0 auto;
}
/* line 841, ../sass/block.scss */
.flexslider .testimonial-author-wrapper .views-field-name {
  margin: 0 0 5px;
  font-size: 14px;
}
/* line 845, ../sass/block.scss */
.flexslider .testimonial-author-wrapper .views-field-field-position {
  color: #666666;
  font-style: italic;
}
/* line 848, ../sass/block.scss */
.flexslider .testimonial-author-wrapper .views-field-field-position a {
  color: #666666;
}
/* line 854, ../sass/block.scss */
.flexslider .flex-control-paging a {
  width: 8px;
  height: 8px;
  background: #969595;
}
/* line 859, ../sass/block.scss */
.flexslider .flex-control-paging .flex-active {
  background: #0c426f;
}
/* line 862, ../sass/block.scss */
.flexslider .flex-control-paging li {
  margin: 0 4px;
}
/* line 866, ../sass/block.scss */
.flexslider:before {
  width: 25px;
  height: 16px;
  display: block;
  position: absolute;
  left: -25px;
  top: 15px;
  z-index: 2;
  background: url(../images/sprites.png) 0 0 no-repeat;
  content: ' ';
}
/* line 877, ../sass/block.scss */
.flexslider .flex-direction-nav {
  display: none;
}

/* line 882, ../sass/block.scss */
.logo-2 {
  margin: 0 10px 5px;
  float: left;
}

/* socials */
/* line 891, ../sass/block.scss */
.social-wrap h3 {
  font-size: 13px;
  float: left;
  margin: 6px 10px 0 0;
  text-transform: none;
}
/* line 897, ../sass/block.scss */
.social-wrap .social-list {
  margin: 0;
}
/* line 899, ../sass/block.scss */
.social-wrap .social-list li {
  padding: 0;
  margin: 0 1px 0 0;
}
/* line 902, ../sass/block.scss */
.social-wrap .social-list li a {
  display: inline-block;
  background: #7e7e7e;
  color: #fff;
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
}
/* line 911, ../sass/block.scss */
.social-wrap .social-list li a:hover, .social-wrap .social-list li a:focus {
  background: #e09b0f;
}
/* line 915, ../sass/block.scss */
.social-wrap .social-list li i {
  margin: 0;
}

/* responsive menu */
/* line 925, ../sass/block.scss */
.responsive-menu-button {
  display: none;
}

/* line 930, ../sass/block.scss */
#main-menu-wrapper {
  display: none;
}

@media (min-width: 992px) {
  /* menu default */
  /* line 936, ../sass/block.scss */
  #main-menu-inner {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 940, ../sass/block.scss */
  #main-menu-wrapper {
    display: block;
    border: none;
    border-bottom: 2px solid #d14b0a;
    background: #f9a145;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f9a145 0%, #f26400 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9a145), color-stop(100%, #f26400));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9a145 0%, #f26400 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9a145 0%, #f26400 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9a145 0%, #f26400 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f9a145 0%, #f26400 100%);
    /* W3C */
    height: 42px;
    min-height: 42px;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
  /* line 964, ../sass/block.scss */
  #main-menu-wrapper ul {
    margin: 0;
    padding: 0;
  }
  /* line 967, ../sass/block.scss */
  #main-menu-wrapper ul > li {
    list-style-image: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    border-left: 1px solid #ffa500;
    position: relative;
  }
  /* line 976, ../sass/block.scss */
  #main-menu-wrapper ul > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 25px;
    display: block;
    border-left: 1px solid #bf6722;
    font-weight: 700;
  }
  /* line 986, ../sass/block.scss */
  #main-menu-wrapper ul > li > a:hover, #main-menu-wrapper ul > li > a:focus {
    text-decoration: none;
    background: #f26400;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f26400), color-stop(99%, #f9a145));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f26400 0%, #f9a145 99%);
  }
  /* line 1003, ../sass/block.scss */
  #main-menu-wrapper ul > li > .active, #main-menu-wrapper ul > li.active-trail > a {
    background: #f26400;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f26400), color-stop(99%, #f9a145));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f26400 0%, #f9a145 99%);
  }
  /* line 1020, ../sass/block.scss */
  #main-menu-wrapper ul li ul {
    border-radius: 0;
    -webkit-border-raidus: none;
    position: absolute;
    left: 0;
    display: none;
    width: 260px !important;
    font-size: 13px;
    z-index: 999;
    overflow: visible !important;
    background: #414141;
    /* Old browsers */
    background: -moz-linear-gradient(top, #414141 0%, #010101 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #414141), color-stop(100%, #010101));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #414141 0%, #010101 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #414141 0%, #010101 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #414141 0%, #010101 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #414141 0%, #010101 100%);
    /* W3C */
    border-style: solid;
    border-width: 1px 2px 2px;
    border-color: #0c0c0c;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    padding: 0;
  }
  /* line 1043, ../sass/block.scss */
  #main-menu-wrapper ul li ul:hover:before {
    display: block;
  }
  /* line 1047, ../sass/block.scss */
  #main-menu-wrapper ul li ul:before {
    content: "";
    border-style: solid;
    border-width: 0 9px 9px 9px;
    border-color: transparent transparent #171717 transparent;
    position: absolute;
    top: -9px;
    left: 35px;
    display: none;
  }
  /* line 1057, ../sass/block.scss */
  #main-menu-wrapper ul li ul li {
    float: none;
    border-left: none;
    position: relative;
    margin-left: 0;
    border-top: 1px solid #625129;
  }
  /* line 1063, ../sass/block.scss */
  #main-menu-wrapper ul li ul li.active-trail > a {
    background: none !important;
    color: #e0c06f;
  }
  /* line 1066, ../sass/block.scss */
  #main-menu-wrapper ul li ul li.active-trail > a .sf-sub-indicator {
    color: #e0c06f;
  }
  /* line 1070, ../sass/block.scss */
  #main-menu-wrapper ul li ul li a {
    background: none !important;
    font-size: 13px;
    color: #ad9457;
    padding: 10px 24px;
    border-left: none;
    text-transform: none;
  }
  /* line 1077, ../sass/block.scss */
  #main-menu-wrapper ul li ul li a .sf-sub-indicator {
    color: #ad9457;
  }
  /* line 1081, ../sass/block.scss */
  #main-menu-wrapper ul li ul li a:hover, #main-menu-wrapper ul li ul li a:focus, #main-menu-wrapper ul li ul li a.active {
    background: none !important;
    color: #e0c06f;
  }
  /* line 1084, ../sass/block.scss */
  #main-menu-wrapper ul li ul li a:hover .sf-sub-indicator, #main-menu-wrapper ul li ul li a:focus .sf-sub-indicator, #main-menu-wrapper ul li ul li a.active .sf-sub-indicator {
    color: #e0c06f;
  }
  /* line 1089, ../sass/block.scss */
  #main-menu-wrapper ul li ul li ul {
    left: 100% !important;
    top: 0 !important;
  }
  /* line 1092, ../sass/block.scss */
  #main-menu-wrapper ul li ul li ul:before {
    display: none !important;
  }
  /* line 1098, ../sass/block.scss */
  #main-menu-wrapper ul li ul li:hover > a, #main-menu-wrapper ul li ul li:focus > a {
    color: #e0c06f;
  }
  /* line 1100, ../sass/block.scss */
  #main-menu-wrapper ul li ul li:hover > a .sf-sub-indicator, #main-menu-wrapper ul li ul li:focus > a .sf-sub-indicator {
    color: #e0c06f;
  }
  /* line 1108, ../sass/block.scss */
  #main-menu-wrapper ul li ul .expanded > a:before {
    content: "\f0d7";
    font-size: 14px;
    color: #5b94c1;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
  }
  /* line 1123, ../sass/block.scss */
  #main-menu-wrapper ul li:hover > a, #main-menu-wrapper ul li:focus > a {
    background: #f26400;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f26400), color-stop(99%, #f9a145));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f26400 0%, #f9a145 99%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f26400 0%, #f9a145 99%);
  }
  /* line 1138, ../sass/block.scss */
  #main-menu-wrapper ul li:hover > ul, #main-menu-wrapper ul li:focus > ul {
    display: block;
  }

  /* tb mega menu*/
  /* line 1146, ../sass/block.scss */
  .tb-megamenu {
    background: none;
    color: #99c3db;
  }
  /* line 1149, ../sass/block.scss */
  .tb-megamenu h2 {
    font-size: 14px;
    font-weight: bold;
  }
  /* line 1153, ../sass/block.scss */
  .tb-megamenu .collapse {
    display: block;
  }
  /* line 1156, ../sass/block.scss */
  .tb-megamenu .mega-dropdown-inner {
    padding: 10px 10px 0 10px;
  }
  /* line 1158, ../sass/block.scss */
  .tb-megamenu .mega-dropdown-inner .mega-dropdown-inner {
    padding: 0;
  }
  /* line 1162, ../sass/block.scss */
  .tb-megamenu .mega-inner {
    padding: 10px;
  }
  /* line 1164, ../sass/block.scss */
  .tb-megamenu .mega-inner .mega-inner {
    padding: 10px;
  }
  /* line 1169, ../sass/block.scss */
  .tb-megamenu .nav > li {
    border-left: 1px solid #09355a;
  }
  /* line 1171, ../sass/block.scss */
  .tb-megamenu .nav > li > a {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 12px 25px;
    border-left: 1px solid #235c8b;
    border-right: none;
    font-weight: normal;
  }
  /* line 1180, ../sass/block.scss */
  .tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > a:focus {
    background-color: #19609b;
    color: #fff;
    border-left: 1px solid #235c8b;
  }
  /* line 1187, ../sass/block.scss */
  .tb-megamenu .nav > li:first-child, .tb-megamenu .nav > li:first-child.active {
    border-left: none;
  }
  /* line 1189, ../sass/block.scss */
  .tb-megamenu .nav > li:first-child > a, .tb-megamenu .nav > li:first-child.active > a {
    border-left: none;
  }
  /* line 1195, ../sass/block.scss */
  .tb-megamenu .nav .active > a {
    background-color: #e09b0f;
  }
  /* line 1198, ../sass/block.scss */
  .tb-megamenu .nav .active > a:hover, .tb-megamenu .nav .active > a:focus {
    background-color: #e09b0f;
    color: #fff;
    border-left: 1px solid #235c8b;
  }
  /* line 1206, ../sass/block.scss */
  .tb-megamenu .nav .open > a {
    background: none;
  }
  /* line 1211, ../sass/block.scss */
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: #19609b;
    color: #fff;
  }
  /* line 1217, ../sass/block.scss */
  .tb-megamenu .nav li.dropdown .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
  }
  /* line 1223, ../sass/block.scss */
  .tb-megamenu .dropdown-menu {
    background-color: #19609b;
    border: none;
    font-size: 13px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
    -webkit-ox-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
  }
  /* line 1230, ../sass/block.scss */
  .tb-megamenu .dropdown-menu li > a {
    color: #99c3db;
    border-top-color: #3a75a4 !important;
    line-height: 100%;
  }
  /* line 1235, ../sass/block.scss */
  .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
    color: #fff;
  }
  /* line 1242, ../sass/block.scss */
  .tb-megamenu .dropdown-menu .mega-nav > li a {
    padding: 10px 0;
    background: none;
  }
  /* line 1248, ../sass/block.scss */
  .tb-megamenu .dropdown-menu .mega-nav .active > a {
    color: #fff;
  }
  /* line 1254, ../sass/block.scss */
  .tb-megamenu .dropdown-menu .active > a {
    color: #99c3db;
    background: none;
  }
  /* line 1258, ../sass/block.scss */
  .tb-megamenu .dropdown-menu .active > a:hover, .tb-megamenu .dropdown-menu .active > a:focus {
    background: none;
    border-left: none;
  }
  /* line 1265, ../sass/block.scss */
  .tb-megamenu .mega-group {
    position: relative;
  }
  /* line 1267, ../sass/block.scss */
  .tb-megamenu .mega-group > .mega-group-title {
    text-transform: none !important;
    color: #99c3db !important;
    font-weight: normal !important;
    font-size: 13px !important;
  }
  /* line 1273, ../sass/block.scss */
  .tb-megamenu .mega-group > .mega-group-title:hover, .tb-megamenu .mega-group > .mega-group-title:focus {
    color: #fff !important;
  }
  /* line 1277, ../sass/block.scss */
  .tb-megamenu .mega-group .tb-megamenu-submenu {
    background-color: #19609b;
    border: none;
    font-size: 13px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
    -webkit-ox-shadow: 0 9px 10px rgba(0, 0, 0, 0.2);
    min-width: 250px;
    position: absolute;
    left: 210px;
    top: 0;
    z-index: 10;
    display: none;
  }
  /* line 1289, ../sass/block.scss */
  .tb-megamenu .mega-group .tb-megamenu-submenu .mega-dropdown-inner {
    padding: 10px;
  }
  /* line 1293, ../sass/block.scss */
  .tb-megamenu .mega-group .tb-megamenu-submenu .mega-dropdown-inner li:last-child a {
    padding-bottom: 0;
  }
  /* line 1302, ../sass/block.scss */
  .tb-megamenu .mega-group:hover > .mega-group-title, .tb-megamenu .mega-group:focus > .mega-group-title {
    color: #fff !important;
  }
  /* line 1305, ../sass/block.scss */
  .tb-megamenu .mega-group:hover .tb-megamenu-submenu, .tb-megamenu .mega-group:focus .tb-megamenu-submenu {
    display: block;
  }
  /* line 1309, ../sass/block.scss */
  .tb-megamenu .mega-group .caret {
    display: block !important;
    border: none !important;
    position: absolute;
    right: 10px;
    top: -8px;
    font-size: 12px;
  }
  /* line 1316, ../sass/block.scss */
  .tb-megamenu .mega-group .caret:before {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f105";
    font-size: 11px !important;
  }
  /* line 1334, ../sass/block.scss */
  .tb-megamenu .mega-nav > li a {
    padding: 10px 0;
    background: none;
  }
  /* line 1341, ../sass/block.scss */
  .tb-megamenu .dropdown-submenu a:after {
    margin-top: 1px;
  }
  /* line 1347, ../sass/block.scss */
  .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
  .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
  .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    border-color: #3a75a4;
    background-color: #e09b0f;
  }
  /* line 1353, ../sass/block.scss */
  .tb-megamenu .mega-nav .mega-group > .mega-group-title,
  .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title,
  .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
    padding-left: 0;
    color: #3a75a4;
    font-size: 14px;
    margin-bottom: 10px;
  }
  /* line 1359, ../sass/block.scss */
  .tb-megamenu .mega-nav .mega-group > .mega-group-title:hover, .tb-megamenu .mega-nav .mega-group > .mega-group-title:focus,
  .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover,
  .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus,
  .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover,
  .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
    color: #fff;
  }
  /* line 1365, ../sass/block.scss */
  .tb-megamenu .dropdown-menu li > a:hover,
  .tb-megamenu .dropdown-menu li > a:focus,
  .tb-megamenu .dropdown-submenu:hover > a {
    color: #fff;
  }
  /* line 1368, ../sass/block.scss */
  .tb-megamenu .row-fluid + .row-fluid {
    border-top-color: #3a75a4;
  }
  /* line 1371, ../sass/block.scss */
  .tb-megamenu .views-row {
    border-bottom: 1px solid #3a75a4 !important;
    padding: 0 0 10px !important;
    margin: 0 0 15px !important;
  }
  /* line 1375, ../sass/block.scss */
  .tb-megamenu .views-row .views-field-type-image {
    float: left;
    margin: 0 15px 5px 0;
  }
  /* line 1379, ../sass/block.scss */
  .tb-megamenu .views-row .views-field-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  /* line 1383, ../sass/block.scss */
  .tb-megamenu .views-row .views-field-title a {
    color: #99c3db;
  }
  /* line 1386, ../sass/block.scss */
  .tb-megamenu .views-row .views-field-title a:hover, .tb-megamenu .views-row .views-field-title a:focus {
    color: #fff;
  }
  /* line 1392, ../sass/block.scss */
  .tb-megamenu .views-row-last {
    border-bottom: none !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  /* line 1398, ../sass/block.scss */
  .tb-megamenu .item-list li.views-row {
    padding: 10px 0 !important;
    margin-bottom: 0 !important;
  }
  /* line 1401, ../sass/block.scss */
  .tb-megamenu .item-list li.views-row .views-field-title {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
  }
  /* line 1409, ../sass/block.scss */
  .tb-megamenu #user-login-form .form-actions {
    margin-bottom: 0;
  }
  /* line 1411, ../sass/block.scss */
  .tb-megamenu #user-login-form .form-actions .form-submit {
    margin-bottom: 0;
  }
  /* line 1432, ../sass/block.scss */
  .tb-megamenu select,
  .tb-megamenu textarea,
  .tb-megamenu input[type="text"],
  .tb-megamenu input[type="password"],
  .tb-megamenu input[type="datetime"],
  .tb-megamenu input[type="datetime-local"],
  .tb-megamenu input[type="date"],
  .tb-megamenu input[type="month"],
  .tb-megamenu input[type="time"],
  .tb-megamenu input[type="week"],
  .tb-megamenu input[type="number"],
  .tb-megamenu input[type="email"],
  .tb-megamenu input[type="url"],
  .tb-megamenu input[type="search"],
  .tb-megamenu input[type="tel"],
  .tb-megamenu input[type="color"],
  .tb-megamenu .uneditable-input {
    height: auto;
    padding: 6px;
    border: none;
    margin-bottom: 0;
    border-radius: 0;
  }
  /* line 1440, ../sass/block.scss */
  .tb-megamenu .form-text,
  .tb-megamenu textarea {
    width: 98%;
  }

  /* line 1445, ../sass/block.scss */
  .sf-main-menu .sf-sub-indicator {
    background: none;
    top: 9px;
    color: #ffffff;
    display: block;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 0.75em;
    width: 10px;
    text-indent: 0;
  }
  /* line 1459, ../sass/block.scss */
  .sf-main-menu li:hover ul, .sf-main-menu li.sfHover ul {
    top: 40px;
  }
  /* line 1465, ../sass/block.scss */
  .sf-main-menu > li:hover ul, .sf-main-menu > li.sfHover ul {
    top: 40px;
  }
  /* line 1467, ../sass/block.scss */
  .sf-main-menu > li:hover ul:before, .sf-main-menu > li.sfHover ul:before {
    display: block;
  }
  /* line 1474, ../sass/block.scss */
  .sf-main-menu > li.active-trail > a .sf-sub-indicator, .sf-main-menu > li:hover > a .sf-sub-indicator, .sf-main-menu > li:focus > a .sf-sub-indicator {
    display: none;
  }
}
/* line 1483, ../sass/block.scss */
.custom-block img {
  margin: 0 0 15px;
}

/* title */
/* line 1491, ../sass/block.scss */
#title-wrapper {
  background: #e0e0e0;
}
/* line 1493, ../sass/block.scss */
#title-wrapper .container {
  padding: 30px 0;
}
/* line 1495, ../sass/block.scss */
#title-wrapper .container h1 {
  margin: 0;
}

/* line 1501, ../sass/block.scss */
.galleryformatter-greenarrows .gallery-thumbs li {
  /*   width: 140px !important;
  padding-right: 10px; */
}

/* line 1507, ../sass/block.scss */
.simplenews-subscribe label {
  display: none;
}
/* line 1510, ../sass/block.scss */
.simplenews-subscribe .form-text {
  padding: 9px 7px;
  width: 145px;
  float: left;
  height: 39px;
  line-height: 18px;
}
/* line 1517, ../sass/block.scss */
.simplenews-subscribe .form-submit {
  float: left;
  margin: 0 0 0 -1px;
  height: 39px;
}

/* line 1524, ../sass/block.scss */
.btn-close {
  display: none;
}
