/* COLORS */
/* BORDER */
/*font-size*/
/* BUTTON */
/* line 25, ../sass/includes/_include.scss */
.grey_button {
  background: #ddd;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
/* line 30, ../sass/includes/_include.scss */
.grey_button:hover, .grey_button:focus {
  color: #fff;
  background-color: #e09b0f;
}

/* line 36, ../sass/includes/_include.scss */
.blue_button, .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  background: #0d436f;
  cursor: pointer;
}
/* line 44, ../sass/includes/_include.scss */
.blue_button:hover, .blue_button:focus, .form-submit:hover, .form-submit:focus {
  background-color: #e09b0f;
}

/* line 49, ../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Transition */
/* skin */
/* line 5, ../sass/page-rtl.scss */
.change-skin-menu-wrapper ul {
  padding: 0;
  margin-right: 0;
}
/* line 9, ../sass/page-rtl.scss */
.change-skin-menu-wrapper li {
  float: right;
  margin-left: 3px;
  margin-right: 0;
}

/* line 16, ../sass/page-rtl.scss */
.region-header {
  float: left;
}

/* search */
/* line 22, ../sass/page-rtl.scss */
#block-search-form .form-actions {
  left: 0;
  right: auto;
}

/* line 28, ../sass/page-rtl.scss */
.blue_button, .form-submit {
  margin-right: 0;
  margin-left: 10px;
}

/* menu */
/* line 36, ../sass/page-rtl.scss */
.tb-megamenu .nav > li {
  float: right;
}
/* line 38, ../sass/page-rtl.scss */
.tb-megamenu .nav > li:first-child {
  border-left: 1px solid #09355a;
}
/* line 40, ../sass/page-rtl.scss */
.tb-megamenu .nav > li:first-child > a {
  border-left: 1px solid #235c8b;
}
/* line 46, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-menu {
  float: right;
  right: -1px;
  left: auto;
}
/* line 52, ../sass/page-rtl.scss */
.tb-megamenu .mega-align-center > .dropdown-menu {
  right: 50%;
  left: auto;
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
/* line 63, ../sass/page-rtl.scss */
.tb-megamenu .mega-group .caret {
  left: 10px;
  right: auto;
}
/* line 66, ../sass/page-rtl.scss */
.tb-megamenu .mega-group .caret:before {
  content: "\f104";
}
/* line 70, ../sass/page-rtl.scss */
.tb-megamenu .mega-group .tb-megamenu-submenu {
  left: auto;
  right: 210px;
}
/* line 76, ../sass/page-rtl.scss */
.tb-megamenu .views-row .views-field-type-image {
  float: right;
  margin-left: 15px;
  margin-right: 0;
}
/* line 84, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-submenu > a:after {
  float: left;
  border-color: transparent #ccc transparent transparent;
  border-width: 5px 5px 5px 0;
}
/* line 90, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-submenu .dropdown-menu {
  right: 100%;
}
/* line 92, ../sass/page-rtl.scss */
.tb-megamenu .dropdown-submenu .dropdown-menu > a {
  padding: 5px 0;
}
/* line 98, ../sass/page-rtl.scss */
.tb-megamenu .mega-align-right > .dropdown-menu {
  right: auto;
  left: 0;
}

/* line 107, ../sass/page-rtl.scss */
#main-menu-wrapper ul.menu > li {
  float: right;
}

/* line 114, ../sass/page-rtl.scss */
.simplenews-subscribe .form-text {
  float: right;
}
/* line 117, ../sass/page-rtl.scss */
.simplenews-subscribe .form-submit {
  float: right;
  margin: 0 -1px 0 0 !important;
}

/* footer */
/* line 127, ../sass/page-rtl.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li {
  float: right;
}
/* line 129, ../sass/page-rtl.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li:first-child {
  border-left: 1px solid #6991b7;
}
/* line 133, ../sass/page-rtl.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li.last {
  border-left: none;
}

/* line 144, ../sass/page-rtl.scss */
.skin-black #footer-wrapper #block-menu-menu-footer-menu ul.menu li {
  border-color: #c5c5c5;
}

/* line 156, ../sass/page-rtl.scss */
.skin-white #footer-wrapper #block-menu-menu-footer-menu ul.menu li {
  border-color: #000;
}

/* end footer */
/* line 167, ../sass/page-rtl.scss */
#newsletter-subscribe-form .form-submit {
  margin-right: 0;
  margin-left: 10px;
}

/* end menu */
/* slideshow */
/* line 177, ../sass/page-rtl.scss */
#slideshow-wrapper .views-slideshow-controls-top {
  left: auto !important;
  right: 30px;
}
/* line 181, ../sass/page-rtl.scss */
#slideshow-wrapper .slideshow-info-wrapper {
  left: auto !important;
  right: 30px;
}

/* end slideshow */
/* panel first  */
/* line 191, ../sass/page-rtl.scss */
#panel-first-wrapper .btn-1 {
  float: left;
  margin-left: 0;
  margin-right: 15px;
}

/* end panel first */
/* line 201, ../sass/page-rtl.scss */
.ads-list .views-field-title, .view-ads .views-field-title {
  right: 0;
  left: auto;
}

/* breadcrumb */
/* line 209, ../sass/page-rtl.scss */
#breadcrumb-wrapper .container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* main content */
/* line 220, ../sass/page-rtl.scss */
.front #main-wrapper #block-system-main div.views-row .views-field-type-image {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

/* end main content */
/* sidebar */
/* line 235, ../sass/page-rtl.scss */
.sidebar .our-members-list .views-field-picture {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

/* line 244, ../sass/page-rtl.scss */
.sidebar .views-field-type-image, .menu-list .views-field-type-image {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

/* line 253, ../sass/page-rtl.scss */
.sidebar .ads-list .views-field-type-image, .sidebar .view-ads .views-field-type-image {
  margin-left: 0;
  float: none;
}

/* end sidebar */
/* jcarousel */
/* line 266, ../sass/page-rtl.scss */
#page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
  float: right;
  margin-right: 0;
  margin-left: 22px;
}
/* line 272, ../sass/page-rtl.scss */
#page .jcarousel-container .jcarousel-next {
  right: auto;
  left: 36px;
}
/* line 276, ../sass/page-rtl.scss */
#page .jcarousel-container .jcarousel-prev {
  right: auto;
  left: 0;
}

/* end jcarousel */
/* panel footer */
/* line 287, ../sass/page-rtl.scss */
.social-wrap h3 {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* testimonial */
/* line 295, ../sass/page-rtl.scss */
.flexslider {
  margin-left: 0;
  margin-right: 160px;
}
/* line 298, ../sass/page-rtl.scss */
.flexslider:before {
  background: url("../images/sprites-rtl.png") no-repeat 0 0;
  left: auto;
  right: -25px;
}
/* line 303, ../sass/page-rtl.scss */
.flexslider .testimonial-author-wrapper {
  left: auto;
  right: -160px;
}

/* line 311, ../sass/page-rtl.scss */
.skin-white .flexslider:before {
  background: url("../images/sprites-rtl-white.png") no-repeat 0 0;
}

/* end testimonial */
/* end panel footer */
/* panel sixth */
/* line 323, ../sass/page-rtl.scss */
#panel-fifth-wrapper ul.menu li {
  padding-left: 0;
  padding-right: 12px;
}
/* line 326, ../sass/page-rtl.scss */
#panel-fifth-wrapper ul.menu li:before {
  content: "\f104";
  left: auto;
  right: 0;
}

/* end panel sixth */
/* footer */
/* line 339, ../sass/page-rtl.scss */
#footer-wrapper .block {
  float: right;
}
/* line 342, ../sass/page-rtl.scss */
#footer-wrapper #block-menu-menu-footer-menu {
  float: left;
}

/* line 347, ../sass/page-rtl.scss */
.logo-2 {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/* end footer */
/* line 355, ../sass/page-rtl.scss */
.btn-btt {
  right: auto;
  left: 20px;
}

/**
  end home page
*/
/* about us */
/* line 365, ../sass/page-rtl.scss */
.feature-box {
  padding-left: 0;
  padding-right: 50px;
}
/* line 368, ../sass/page-rtl.scss */
.feature-box .feature-box-icon {
  left: auto;
  right: 0;
}

/* member page  */
/* line 380, ../sass/page-rtl.scss */
.content .our-members-list .social-group .views-field a:before, .content .view-our-members .social-group .views-field a:before {
  margin-right: 0;
  margin-left: 5px;
}

/* line 390, ../sass/page-rtl.scss */
ul.links {
  padding-right: 0;
}

/* tags */
/* line 403, ../sass/page-rtl.scss */
#block-system-main .field-name-field-tags .field-label {
  float: right;
}

/* blog list */
/* line 411, ../sass/page-rtl.scss */
.blog-list .views-field-type-image {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

/* review comment */
/* line 421, ../sass/page-rtl.scss */
#block-system-main .comment .user-picture {
  float: right;
  margin-right: 0;
  margin-left: 30px;
}

/* comment */
/* line 431, ../sass/page-rtl.scss */
#comments .comment {
  padding-left: 20px;
  padding-right: 130px;
}
/* line 434, ../sass/page-rtl.scss */
#comments .comment .user-picture {
  left: auto;
  right: 20px;
}

/* line 443, ../sass/page-rtl.scss */
.contact-form .form-type-checkbox input {
  margin-right: 0;
  margin-left: 5px;
  display: inline-block;
}
/* line 448, ../sass/page-rtl.scss */
.contact-form .form-type-checkbox label {
  display: inline-block;
}

/* contact form */
/* line 455, ../sass/page-rtl.scss */
.contact-form {
  float: right;
}
/* line 458, ../sass/page-rtl.scss */
.contact-form .form-type-textarea .form-textarea-wrapper {
  float: right;
}
/* line 462, ../sass/page-rtl.scss */
.contact-form label {
  float: right;
}
/* line 465, ../sass/page-rtl.scss */
.contact-form .form-type-checkbox {
  padding-left: 0;
  padding-right: 145px;
}
/* line 469, ../sass/page-rtl.scss */
.contact-form .form-actions {
  padding-left: 0;
  padding-right: 145px;
}
/* line 472, ../sass/page-rtl.scss */
.contact-form .form-actions .form-submit {
  margin-right: 0;
}

/* line 479, ../sass/page-rtl.scss */
.contact-info strong {
  float: right;
}

/* line 484, ../sass/page-rtl.scss */
.contact-info-page {
  float: right;
}

/* line 488, ../sass/page-rtl.scss */
.contact-block-inner {
  margin-right: 0;
  margin-left: 30px;
}

/* line 493, ../sass/page-rtl.scss */
.map {
  clear: both;
}

/* line 497, ../sass/page-rtl.scss */
ul.primary li a {
  margin-left: 5px;
  margin-right: 0;
}

/* page */
/* line 503, ../sass/page-rtl.scss */
.profile dl dt {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

/* line 510, ../sass/page-rtl.scss */
.ui-accordion .ui-accordion-icons {
  padding: 7px 25px 7px 7px;
}
/* line 514, ../sass/page-rtl.scss */
.ui-accordion .ui-icon:before {
  content: "\f0d9";
  top: 2px;
}
/* line 520, ../sass/page-rtl.scss */
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
  left: auto;
  right: 8px;
}

/* line 527, ../sass/page-rtl.scss */
html.js fieldset.collapsible .fieldset-legend {
  background-position: 99.5% 58%;
}

/* line 531, ../sass/page-rtl.scss */
html.js fieldset.collapsed .fieldset-legend {
  background-position: 99.5% 50%;
}

/* comment button */
/* line 536, ../sass/page-rtl.scss */
.blue_button, #comments .form-actions .form-submit, .contact-form .form-actions .form-submit, .form-submit {
  margin-left: 10px !important;
  margin-right: 0;
}

/* line 542, ../sass/page-rtl.scss */
.contact-form label {
  margin-right: 0;
  margin-left: 10px;
}

/* services */
/* line 551, ../sass/page-rtl.scss */
.ui-accordion .views-field-type-image,
.ui-accordion .views-field-field-image {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}

/* login */
/* line 560, ../sass/page-rtl.scss */
#user-register-form .form-submit, #user-login .form-submit {
  margin-left: 0;
  margin-right: 125px;
}
/* line 564, ../sass/page-rtl.scss */
#user-register-form .description, #user-login .description {
  padding-left: 0;
  padding-right: 125px;
}

/* line 571, ../sass/page-rtl.scss */
#user-pass .form-submit {
  margin-right: 190px;
}

/* line 577, ../sass/page-rtl.scss */
.profile .user-picture {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
/* line 582, ../sass/page-rtl.scss */
.profile .field-label {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}

/* gallery details */
/* line 590, ../sass/page-rtl.scss */
.gallery-frame {
  width: auto;
}

/* line 596, ../sass/page-rtl.scss */
.galleryformatter-greenarrows .gallery-thumbs li {
  float: right;
}

/* line 602, ../sass/page-rtl.scss */
.blue_button, .form-submit {
  margin-right: 0 !important;
  margin-left: 10px;
}

/* line 607, ../sass/page-rtl.scss */
.indented {
  margin-right: 25px;
}

/* line 612, ../sass/page-rtl.scss */
#user-profile-form #edit-picture .user-picture {
  float: right;
  margin-right: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}

/* line 620, ../sass/page-rtl.scss */
#edit-unsubscribe {
  margin-left: 15px;
  margin-right: 0;
}

/* line 625, ../sass/page-rtl.scss */
.navbar-toggle {
  margin: 16px 25px 0 20px;
}

/* RESPONSIVE */
@media (max-width: 1199px) and (min-width: 992px) {
  /* line 635, ../sass/page-rtl.scss */
  #page-wrapper #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    margin-right: 0;
    margin-left: 15px;
  }
  /* line 643, ../sass/page-rtl.scss */
  #page-wrapper #page .tb-megamenu .mega-align-center > .dropdown-menu {
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
    min-width: initial;
  }

  /* line 657, ../sass/page-rtl.scss */
  .contact-form .form-actions, .contact-form .form-type-checkbox {
    padding-right: 0;
  }

  /* line 663, ../sass/page-rtl.scss */
  #page .simplenews-subscribe .form-submit {
    margin: 0 !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  /* line 674, ../sass/page-rtl.scss */
  #page #panel-second-wrapper .views-field-type-image,
  #page #panel-second-wrapper .views-field-picture {
    float: right;
    margin-right: 0;
    margin-left: 20px;
  }

  /* jcarousel */
  /* line 686, ../sass/page-rtl.scss */
  #page-wrapper #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    margin-right: 0;
    margin-left: 12px;
  }
}
@media (max-width: 991px) {
  /* line 697, ../sass/page-rtl.scss */
  #page {
    /* --- Mobile menu --- */
    /* End Mobile menu */
    /* contact */
  }
  /* line 699, ../sass/page-rtl.scss */
  .html #page {
    left: 0;
    right: auto;
  }
  /* line 702, ../sass/page-rtl.scss */
  .html #page.toggled {
    left: 250px;
    right: auto;
  }
  /* line 705, ../sass/page-rtl.scss */
  .html #page.toggled .mobile-main-menu {
    left: 0;
    right: auto;
  }
  /* line 711, ../sass/page-rtl.scss */
  #page .overlay {
    left: auto;
    right: 0;
  }
  /* line 715, ../sass/page-rtl.scss */
  #page .mobile-main-menu {
    left: -250px;
    right: auto;
  }
  /* line 718, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu {
    padding-right: 0;
  }
  /* line 720, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu > li {
    margin-right: 0;
    padding-left: 0;
  }
  /* line 723, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu > li ul {
    padding: 5px 30px 15px 0;
  }
  /* line 726, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu > li ul li ul {
    padding-left: 0;
    padding-right: 20px;
  }
  /* line 733, ../sass/page-rtl.scss */
  #page .mobile-main-menu ul.menu .expanded > a:before {
    left: 10px;
    right: auto;
  }
  /* line 743, ../sass/page-rtl.scss */
  #page .tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
    left: 10px;
    right: auto;
  }
  /* line 750, ../sass/page-rtl.scss */
  #page .tb-megamenu .row-fluid [class*="span"] {
    margin-right: 0;
  }
  /* line 753, ../sass/page-rtl.scss */
  #page .tb-megamenu .mega-inner {
    padding: 10px 30px 10px 0 !important;
  }
  /* line 759, ../sass/page-rtl.scss */
  #page .navbar-default .navbar-toggle {
    right: auto;
    left: 15px;
  }
  /* line 764, ../sass/page-rtl.scss */
  #page #panel-fifth-wrapper .view-photo-stream .views-row {
    float: right;
  }
  /* line 768, ../sass/page-rtl.scss */
  #page .contact-info-page {
    float: none;
    width: auto;
  }
  /* line 772, ../sass/page-rtl.scss */
  #page .contact-block-inner {
    margin-left: 0;
  }
}
/* line 780, ../sass/page-rtl.scss */
.gallery-processed .gallery-slides .gallery-slide {
  left: auto;
  right: 0;
}

/* line 787, ../sass/page-rtl.scss */
.gallery-thumbs ul li {
  padding: 0 0 0 4px;
}

/* mobile */
@media (max-width: 767px) {
  /* line 794, ../sass/page-rtl.scss */
  #page #logo {
    float: right;
  }
  /* line 797, ../sass/page-rtl.scss */
  #page .region-header {
    padding-right: 0;
    float: left;
  }
  /* line 801, ../sass/page-rtl.scss */
  #page .navbar-toggle {
    float: left;
  }
  /* line 804, ../sass/page-rtl.scss */
  #page #block-search-form {
    float: left;
  }
  /* line 806, ../sass/page-rtl.scss */
  #page #block-search-form #search-block-form {
    right: auto;
    left: -2px;
  }
  /* line 812, ../sass/page-rtl.scss */
  #page #slideshow-wrapper .views-slideshow-controls-top {
    left: auto;
    right: 15px;
  }

  /* line 819, ../sass/page-rtl.scss */
  .contact-form .form-actions, .contact-form .form-type-checkbox {
    padding-right: 0;
  }
}
@media (max-width: 640px) {
  /* line 830, ../sass/page-rtl.scss */
  #page-wrapper #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    margin-right: 0;
    margin-left: 23px;
  }
  /* line 838, ../sass/page-rtl.scss */
  #page-wrapper .search-advanced .criterion {
    float: none;
  }
}
@media (max-width: 480px) {
  /* line 848, ../sass/page-rtl.scss */
  #page-wrapper #page .form-text {
    width: 100%;
  }
  /* line 852, ../sass/page-rtl.scss */
  #page-wrapper #page #block-search-form .form-text {
    width: auto;
  }
  /* line 858, ../sass/page-rtl.scss */
  #page-wrapper #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    margin-right: 0;
    margin-left: 22px;
  }
  /* line 865, ../sass/page-rtl.scss */
  #page-wrapper #page .poll .percent {
    margin-bottom: 15px;
  }
  /* line 871, ../sass/page-rtl.scss */
  #page-wrapper #comments .comment {
    padding-right: 0;
    text-align: center;
  }
  /* line 874, ../sass/page-rtl.scss */
  #page-wrapper #comments .comment .user-picture {
    right: auto;
    position: static;
    float: none;
    margin: 0 auto 10px;
  }
  /* line 889, ../sass/page-rtl.scss */
  #page-wrapper .contact-form .form-type-checkbox {
    padding-right: 0;
  }
  /* line 891, ../sass/page-rtl.scss */
  #page-wrapper .contact-form .form-type-checkbox input {
    margin-right: 0;
    margin-left: 5px;
    display: inline-block;
  }
  /* line 896, ../sass/page-rtl.scss */
  #page-wrapper .contact-form .form-type-checkbox label {
    display: inline-block;
  }
  /* line 902, ../sass/page-rtl.scss */
  #page-wrapper .search-form label {
    display: block;
    margin-bottom: 5px;
  }
  /* line 907, ../sass/page-rtl.scss */
  #page-wrapper .search-form #edit-basic .form-item {
    margin-bottom: 10px;
    display: inline-block;
  }
  /* line 912, ../sass/page-rtl.scss */
  #page-wrapper .search-form .form-submit {
    margin-right: 0;
  }

  /* line 917, ../sass/page-rtl.scss */
  #page {
    /* contact */
    /* profile */
  }
  /* line 920, ../sass/page-rtl.scss */
  #page #user-register-form .form-actions,
  #page #user-register-form .description, #page #user-login .form-actions,
  #page #user-login .description, #page #user-pass .form-actions,
  #page #user-pass .description {
    padding-right: 0;
  }
  /* line 923, ../sass/page-rtl.scss */
  #page #user-register-form .form-submit, #page #user-login .form-submit, #page #user-pass .form-submit {
    margin-right: 0;
  }
  /* line 929, ../sass/page-rtl.scss */
  #page .contact-form .form-actions {
    padding-right: 0;
  }
  /* line 935, ../sass/page-rtl.scss */
  #page .profile .user-picture {
    float: none;
    margin-left: 0;
  }
}
@media (max-width: 360px) {
  /* line 944, ../sass/page-rtl.scss */
  #page {
    /* .flexslider */
  }
  /* line 946, ../sass/page-rtl.scss */
  #page .flexslider {
    margin-right: 0;
  }
  /* line 949, ../sass/page-rtl.scss */
  #page #comments .comment {
    text-align: right;
  }
  /* line 951, ../sass/page-rtl.scss */
  #page #comments .comment .user-picture {
    margin: 0 0 0 15px;
  }
  /* line 956, ../sass/page-rtl.scss */
  #page div.tabs li:active a, #page div.tabs li a {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  /* line 967, ../sass/page-rtl.scss */
  #page #block-system-main .comment .user-picture {
    margin-left: 15px;
    margin-right: 0;
  }
  /* line 973, ../sass/page-rtl.scss */
  #page #block-system-main .comment-preview .user-picture {
    margin-right: 0;
    margin-left: 15px;
  }
}
/* skin */
/* line 987, ../sass/page-rtl.scss */
.skin-black .tb-megamenu .nav > li:first-child {
  border-left-color: #000;
}
/* line 989, ../sass/page-rtl.scss */
.skin-black .tb-megamenu .nav > li:first-child > a {
  border-left-color: #3d3d3d;
}

/* line 1002, ../sass/page-rtl.scss */
.skin-white .tb-megamenu .nav > li:first-child {
  border-left-color: #000;
}
/* line 1004, ../sass/page-rtl.scss */
.skin-white .tb-megamenu .nav > li:first-child > a {
  border-left-color: #3d3d3d;
}

/* line 1014, ../sass/page-rtl.scss */
.contact-info i {
  margin-right: 0;
  margin-left: 5px;
}
