/* COLORS */
/* BORDER */
/*font-size*/
/* BUTTON */
/* line 25, ../../sass/includes/_include.scss */
.grey_button {
  background: #ddd;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
/* line 30, ../../sass/includes/_include.scss */
.grey_button:hover, .grey_button:focus {
  color: #fff;
  background-color: #e09b0f;
}

/* line 36, ../../sass/includes/_include.scss */
.blue_button, .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  background: #0d436f;
  cursor: pointer;
}
/* line 44, ../../sass/includes/_include.scss */
.blue_button:hover, .blue_button:focus, .form-submit:hover, .form-submit:focus {
  background-color: #e09b0f;
}

/* line 49, ../../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Transition */
/* line 3, ../../sass/screens/common.scss */
.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* --- Mobile menu --- */
/* line 10, ../../sass/screens/common.scss */
.navbar-toggle {
  display: inline-block;
}

/* line 15, ../../sass/screens/common.scss */
.nav .open > a {
  background: none;
}
/* line 17, ../../sass/screens/common.scss */
.nav .open > a:hover, .nav .open > a:focus {
  background: none;
}

/* line 23, ../../sass/screens/common.scss */
.navbar-collapse {
  display: block !important;
  border: none;
  box-shadow: none;
  max-height: none;
  margin: 0 !important;
}
/* line 29, ../../sass/screens/common.scss */
.navbar-collapse.collapse {
  overflow-y: visible !important;
}

/* main-menu */
/* line 35, ../../sass/screens/common.scss */
.mobile-main-menu {
  display: none;
  /* tb-megamenu */
  /* superfish menu */
}
/* line 37, ../../sass/screens/common.scss */
.mobile-main-menu .region-main-menu {
  position: relative;
}
/* line 40, ../../sass/screens/common.scss */
.mobile-main-menu .container {
  padding: 0;
  position: static;
  width: auto;
}
/* line 45, ../../sass/screens/common.scss */
.mobile-main-menu .row {
  margin: 0;
}
/* line 47, ../../sass/screens/common.scss */
.mobile-main-menu .row > div {
  padding: 0;
  position: static;
  float: none;
}
/* line 53, ../../sass/screens/common.scss */
.mobile-main-menu a {
  color: #ccc;
  text-transform: none;
}
/* line 56, ../../sass/screens/common.scss */
.mobile-main-menu a:hover, .mobile-main-menu a:focus {
  color: white;
}
/* line 60, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu {
  width: 250px;
  padding-left: 0;
}
/* line 63, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu a {
  display: block;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
}
/* line 68, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu a:hover, .mobile-main-menu ul.menu a:focus {
  background-color: #404040;
}
/* line 72, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li {
  margin-left: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-right: 0;
  list-style: none;
  float: none;
  display: block;
}
/* line 80, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li > a {
  border-right: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  padding: 15px;
  background: none;
}
/* line 86, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li > a.active, .mobile-main-menu ul.menu > li > a.active-trail {
  color: #fff !important;
  background-color: #1a1a1a;
}
/* line 90, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li > a.active-trail {
  color: white;
}
/* line 94, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li > a:hover:before, .mobile-main-menu ul.menu > li > a:focus:before {
  border-top-color: white;
}
/* line 99, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul {
  padding: 5px 0 15px 30px;
}
/* line 102, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul li a {
  padding: 5px 0;
  border: 0 none;
  box-shadow: none;
  line-height: 20px;
}
/* line 103, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul li a.active-trail {
  color: white;
}
/* line 110, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul li a:hover, .mobile-main-menu ul.menu > li ul li a:focus {
  background-color: transparent;
}
/* line 114, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul li ul {
  padding-left: 20px;
}
/* line 116, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul li ul a {
  border-bottom: none;
}
/* line 123, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu > li ul.menu > li > a {
  background: none;
}
/* line 130, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu .expanded > a {
  position: relative;
}
/* line 132, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu .expanded > a:before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aeaeae;
}
/* line 148, ../../sass/screens/common.scss */
.mobile-main-menu ul.menu .expanded.active-trail ul li .active, .mobile-main-menu ul.menu .expanded.active-trail ul li a.active-trail {
  background-color: transparent;
}
/* line 155, ../../sass/screens/common.scss */
.mobile-main-menu .navbar-collapse {
  padding: 0;
}
/* line 159, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu-button {
  display: none !important;
}
/* line 162, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu {
  background: none;
  width: 250px;
}
/* line 166, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li {
  display: inline-block;
  float: none;
  width: 100%;
}
/* line 170, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li.active > a {
  color: white !important;
  background-color: #1a1a1a;
}
/* line 173, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li.active > a:hover, .mobile-main-menu .tb-megamenu .nav > li.active > a:focus {
  background-color: #1a1a1a;
}
/* line 177, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li > a {
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  text-decoration: none;
  border-right: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
  padding: 15px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  color: #ccc;
}
/* line 190, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li > a:hover, .mobile-main-menu .tb-megamenu .nav > li > a:focus {
  color: #fff;
  background-color: #404040;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 194, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li > a:hover:before, .mobile-main-menu .tb-megamenu .nav > li > a:focus:before {
  border-top-color: white;
}
/* line 199, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li.active > a:before {
  border-top-color: white;
}
/* line 203, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav .dropdown-menu a {
  border-bottom: 0;
}
/* line 206, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  border-top-color: rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
}
/* line 212, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown > .dropdown-toggle {
  position: relative;
}
/* line 214, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown > .dropdown-toggle .caret {
  position: absolute;
  right: 10px;
  top: 50%;
  margin: -2px 0 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aeaeae;
  display: inline-block !important;
}
/* line 225, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown > .dropdown-toggle:hover .caret {
  border-top-color: white;
}
/* line 230, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
  color: white;
  background-color: #404040;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 234, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown.open > .dropdown-toggle .caret {
  border-top-color: white;
}
/* line 239, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .mobile-main-menu .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle {
  color: white;
}
/* line 241, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown.active > .dropdown-toggle .caret, .mobile-main-menu .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
}
/* line 247, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .mobile-main-menu .tb-megamenu .nav li.dropdown.active > .dropdown-toggle {
  border-top-color: rgba(0, 0, 0, 0.3);
  background-color: #1a1a1a;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
}
/* line 253, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .nav .open > a {
  color: white !important;
}
/* line 262, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .hidden-collapse,
.mobile-main-menu .tb-megamenu .always-show .caret,
.mobile-main-menu .tb-megamenu .sub-hidden-collapse > .nav-child,
.mobile-main-menu .tb-megamenu .sub-hidden-collapse .caret,
.mobile-main-menu .tb-megamenu .sub-hidden-collapse > a::after,
.mobile-main-menu .tb-megamenu .always-show .dropdown-submenu > a::after {
  display: none !important;
}
/* line 265, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .row-fluid + .row-fluid {
  border: none;
}
/* line 268, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega > .mega-dropdown-menu {
  display: block;
  position: static;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
/* line 275, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .row-fluid [class*="span"] {
  float: none;
}
/* line 280, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .row-fluid,
.mobile-main-menu .tb-megamenu .mega-dropdown-menu,
.mobile-main-menu .tb-megamenu .row-fluid [class*="span"] {
  left: 0 !important;
  margin-left: 0 !important;
  min-width: 100% !important;
  transform: none !important;
  width: 100% !important;
}
/* line 287, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega-inner {
  padding: 10px 0 10px 30px !important;
}
/* line 290, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .tb-megamenu-block {
  display: none;
}
/* line 294, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega-nav .mega-group > .mega-group-title, .mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .mobile-main-menu .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  padding: 7px 0;
  margin: 0;
  border: none;
  font-size: 14px;
  line-height: 14px;
  color: #ccc;
}
/* line 301, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega-nav .mega-group > .mega-group-title:hover, .mobile-main-menu .tb-megamenu .mega-nav .mega-group > .mega-group-title:focus, .mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover, .mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus, .mobile-main-menu .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover, .mobile-main-menu .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
  color: white;
}
/* line 307, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav .active.mega-group > .mega-group-title {
  color: white;
}
/* line 310, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .dropdown-menu .active > a {
  color: white !important;
  background: none;
}
/* line 313, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .dropdown-menu .active > a:hover {
  color: white;
  background: none;
}
/* line 318, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .dropdown-menu li > a {
  color: #ccc;
}
/* line 323, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega-nav > li a,
.mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav > li a {
  border: 0;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 7px 0;
}
/* line 329, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega-nav > li a:hover, .mobile-main-menu .tb-megamenu .mega-nav > li a:focus,
.mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav > li a:hover,
.mobile-main-menu .tb-megamenu .dropdown-menu .mega-nav > li a:focus {
  color: white;
}
/* line 336, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .mega-nav .mega-group > .mega-group-title,
.mobile-main-menu .tb-megamenu .dropdown-menu .mega-group > .mega-group-title,
.mobile-main-menu .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  text-transform: none;
  font-weight: 500;
}
/* line 341, ../../sass/screens/common.scss */
.mobile-main-menu .tb-megamenu .dropdown-submenu > a:after {
  display: none;
}
/* line 347, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu ul {
  width: 100% !important;
  background: none;
  display: block !important;
  opacity: 1 !important;
  position: static !important;
  height: auto !important;
  visibility: visible !important;
}
/* line 356, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu .sf-sub-indicator {
  top: 15px;
}
/* line 359, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu li {
  float: none !important;
  margin: 0;
}
/* line 364, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu > li.active-trail > a {
  background: #404040;
  color: #fff;
}
/* line 369, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu > li ul li.active-trail > a {
  color: #fff;
}
/* line 372, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu > li ul .sf-sub-indicator {
  display: none !important;
}
/* line 375, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu > li ul a.active {
  color: #fff;
}
/* line 381, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default li, .mobile-main-menu .sf-menu.sf-style-default.sf-navbar {
  background: none;
  float: none;
  margin: 0;
}
/* line 387, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default a,
.mobile-main-menu .sf-menu.sf-style-default a:visited {
  border-left: none;
  color: #ccc;
}
/* line 392, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default a:hover,
.mobile-main-menu .sf-menu.sf-style-default a:focus {
  color: #fff;
}
/* line 395, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu ul {
  background: none;
  display: block !important;
  position: static;
  visibility: visible !important;
}
/* line 405, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default li:hover,
.mobile-main-menu .sf-menu.sf-style-default li.sfHover,
.mobile-main-menu .sf-menu.sf-style-default a:focus,
.mobile-main-menu .sf-menu.sf-style-default a:hover,
.mobile-main-menu .sf-menu.sf-style-default a:active {
  background: none;
}
/* line 408, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default li li {
  background: none;
}
/* line 412, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default > li:hover > a,
.mobile-main-menu .sf-menu.sf-style-default > li:focus > a {
  background-color: #404040 !important;
}
/* line 417, ../../sass/screens/common.scss */
.mobile-main-menu .sf-menu.sf-style-default li.active-trail > a,
.mobile-main-menu .sf-menu.sf-style-default li a.active,
.mobile-main-menu .sf-menu.sf-style-default li.sfHover > a {
  color: #fff !important;
}

/* End Mobile menu */
/* line 424, ../../sass/screens/common.scss */
#block-search-form {
  width: 260px;
}

/*slideshow*/
/* line 430, ../../sass/screens/common.scss */
#slideshow-wrapper .views-slideshow-cycle-main-frame {
  width: 100% !important;
}
/* line 433, ../../sass/screens/common.scss */
#slideshow-wrapper .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
/* line 437, ../../sass/screens/common.scss */
#slideshow-wrapper .views-field-title a {
  font-size: 1.23em;
}
/* line 441, ../../sass/screens/common.scss */
#slideshow-wrapper .slideshow-info-wrapper {
  top: 140px;
}
/* line 444, ../../sass/screens/common.scss */
#slideshow-wrapper .views-slideshow-controls-top {
  top: 110px;
}

/**/
/*panel second*/
/* line 452, ../../sass/screens/common.scss */
#panel-second-wrapper .panel-column {
  margin-bottom: 20px;
}
/* line 454, ../../sass/screens/common.scss */
#panel-second-wrapper .panel-column:last-child {
  margin-bottom: 0;
}

/*side bar*/
/* line 461, ../../sass/screens/common.scss */
.sidebar {
  margin-top: 50px;
}
/* line 463, ../../sass/screens/common.scss */
.sidebar h2 {
  margin-bottom: 15px;
}
/* line 466, ../../sass/screens/common.scss */
.sidebar .block {
  margin-bottom: 30px;
}
/* line 468, ../../sass/screens/common.scss */
.sidebar .block:last-child {
  margin-bottom: 0;
}

/*panel-column*/
/* line 476, ../../sass/screens/common.scss */
#panel-fourth-wrapper .panel-column, #panel-fifth-wrapper .panel-column {
  margin-bottom: 30px;
}
/* line 478, ../../sass/screens/common.scss */
#panel-fourth-wrapper .panel-column:last-child, #panel-fifth-wrapper .panel-column:last-child {
  margin-bottom: 0;
}
/* line 482, ../../sass/screens/common.scss */
#panel-fourth-wrapper .flexslider, #panel-fifth-wrapper .flexslider {
  margin-bottom: 65px;
}

/*panel-fifth-wrapper*/
/* line 490, ../../sass/screens/common.scss */
#panel-fifth-wrapper .view-photo-stream {
  overflow: hidden;
}
/* line 492, ../../sass/screens/common.scss */
#panel-fifth-wrapper .view-photo-stream .views-row {
  margin-bottom: 0;
  float: left;
}
/* line 495, ../../sass/screens/common.scss */
#panel-fifth-wrapper .view-photo-stream .views-row .views-col {
  width: auto;
  margin: 0 15px 15px 0;
}

/*footer-wrapper*/
/* line 505, ../../sass/screens/common.scss */
#footer-wrapper .block {
  float: none !important;
  text-align: center;
}
/* line 509, ../../sass/screens/common.scss */
#footer-wrapper .block-menu {
  margin-top: 10px;
}
/* line 513, ../../sass/screens/common.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu {
  text-align: center;
}
/* line 515, ../../sass/screens/common.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li {
  float: none;
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 0;
}

/*title-wrapper*/
/* line 530, ../../sass/screens/common.scss */
#title-wrapper .container {
  padding-left: 15px;
  padding-right: 15px;
}

/*page contact*/
/* line 540, ../../sass/screens/common.scss */
.contact-form,
.contact-block {
  float: none;
  width: 100%;
}
/* line 543, ../../sass/screens/common.scss */
.contact-form label,
.contact-block label {
  margin-bottom: 5px;
}

/* line 548, ../../sass/screens/common.scss */
.contact-block-inner {
  margin-right: 0;
  background-color: initial;
}

/* line 553, ../../sass/screens/common.scss */
.contact-info-page {
  width: auto;
  float: none;
  padding: 0;
}

/*poll*/
/* line 561, ../../sass/screens/common.scss */
.block-system ul {
  padding-left: 15px;
  margin-bottom: 30px;
}
/* line 564, ../../sass/screens/common.scss */
.block-system ul li {
  margin-bottom: 5px;
}

/* line 571, ../../sass/screens/common.scss */
.item-list ul.pager {
  padding-left: 0;
}

/* line 576, ../../sass/screens/common.scss */
iframe {
  width: 100% !important;
  height: 300px;
}

/* line 582, ../../sass/screens/common.scss */
.links a {
  margin-bottom: 7px;
}

/* line 587, ../../sass/screens/common.scss */
.feature-box {
  margin-bottom: 40px;
}
