/* COLORS */
/* BORDER */
/*font-size*/
/* BUTTON */
/* line 25, ../../sass/includes/_include.scss */
.grey_button {
  background: #ddd;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
/* line 30, ../../sass/includes/_include.scss */
.grey_button:hover, .grey_button:focus {
  color: #fff;
  background-color: #e09b0f;
}

/* line 36, ../../sass/includes/_include.scss */
.blue_button, .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  background: #0d436f;
  cursor: pointer;
}
/* line 44, ../../sass/includes/_include.scss */
.blue_button:hover, .blue_button:focus, .form-submit:hover, .form-submit:focus {
  background-color: #e09b0f;
}

/* line 49, ../../sass/includes/_include.scss */
.font_awesome, .search-icon:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Transition */
/*screen 640*/
/* line 5, ../../sass/screens/mobile.scss */
#change_skin_menu_wrapper {
  display: none;
}

/* line 9, ../../sass/screens/mobile.scss */
h2 {
  line-height: 1.3em;
}

/* line 13, ../../sass/screens/mobile.scss */
#logo {
  width: 50%;
  display: block;
  float: left;
}

/* line 19, ../../sass/screens/mobile.scss */
.navbar-toggle {
  float: right;
}

/* search */
/* line 25, ../../sass/screens/mobile.scss */
.region-header {
  float: right;
}

/* line 31, ../../sass/screens/mobile.scss */
.search-icon {
  display: block;
  width: 44px;
  height: 30px;
}
/* line 35, ../../sass/screens/mobile.scss */
.search-icon:before {
  content: "\f002";
  font-size: 16px;
  color: #000;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 44px;
  height: 30px;
  vertical-align: middle;
  line-height: 29px;
}

/* line 53, ../../sass/screens/mobile.scss */
.block-search.hover .search-icon:before {
  content: "\f0d8";
}

/* line 60, ../../sass/screens/mobile.scss */
#block-search-form.hover .search-icon {
  background: #dddddd;
}
/* line 63, ../../sass/screens/mobile.scss */
#block-search-form.hover #search-block-form {
  display: block;
}

/* line 68, ../../sass/screens/mobile.scss */
#block-search-form {
  position: relative;
  width: 44px;
  height: 30px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
/* line 75, ../../sass/screens/mobile.scss */
#block-search-form #search-block-form {
  position: absolute;
  z-index: 20;
  right: -2px;
  top: 29px;
  width: 220px;
  background: #fff;
  border: 1px solid #dddddd;
  border-width: 10px;
  display: none;
}
/* line 86, ../../sass/screens/mobile.scss */
#block-search-form:hover, #block-search-form:focus {
  background: #dddddd;
}

/*slideshow*/
/* line 93, ../../sass/screens/mobile.scss */
#slideshow-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
/* line 97, ../../sass/screens/mobile.scss */
#slideshow-wrapper .slideshow-info-wrapper {
  display: none;
}
/* line 100, ../../sass/screens/mobile.scss */
#slideshow-wrapper .views-slideshow-controls-top {
  bottom: 15px;
  top: auto;
  left: 15px;
}
/* line 106, ../../sass/screens/mobile.scss */
#slideshow-wrapper .views-field-type-image:before, #slideshow-wrapper .views-field-type-image:after {
  position: static;
  background: none;
}

/* line 114, ../../sass/screens/mobile.scss */
.navbar-default .navbar-header {
  right: 25px;
}

/*panel-first-wrapper*/
/* line 120, ../../sass/screens/mobile.scss */
#panel-first-wrapper {
  text-align: center;
}
/* line 122, ../../sass/screens/mobile.scss */
#panel-first-wrapper .intro {
  font-size: 1.23em;
  display: block;
  padding-top: 0;
  margin-bottom: 10px;
}
/* line 128, ../../sass/screens/mobile.scss */
#panel-first-wrapper .btn-1 {
  font-size: 1.23em;
  margin-left: 0;
  float: none;
}

/*panel-second-wrapper*/
/* line 137, ../../sass/screens/mobile.scss */
#panel-second-wrapper .grid-inner {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
/* line 143, ../../sass/screens/mobile.scss */
#panel-second-wrapper .panel-column:last-child .grid-inner {
  padding-bottom: 0;
  border-bottom: 0;
}

/*partner*/
/* line 155, ../../sass/screens/mobile.scss */
#page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
  width: 135px;
  margin-right: 23px;
}
/* line 160, ../../sass/screens/mobile.scss */
#page .jcarousel-container .jcarousel-prev, #page .jcarousel-container .jcarousel-next {
  top: -35px;
}

/*newsletter-subscribe-form*/
/* line 168, ../../sass/screens/mobile.scss */
#newsletter-subscribe-form .form-text {
  width: 40%;
}

/*page about member*/
/*title-wrapper*/
/* line 176, ../../sass/screens/mobile.scss */
#title-wrapper .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 182, ../../sass/screens/mobile.scss */
#title-wrapper h1 {
  font-size: 1.39em;
}

/*member list*/
/* line 191, ../../sass/screens/mobile.scss */
.our-members-list .views-row .views-col {
  width: 50%;
}
/* line 195, ../../sass/screens/mobile.scss */
.our-members-list .views-field-picture {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

/*partner list*/
/* line 205, ../../sass/screens/mobile.scss */
.featured-partners-list .views-row .views-col {
  width: 50%;
  border-right: none;
}
/* line 208, ../../sass/screens/mobile.scss */
.featured-partners-list .views-row .views-col:nth-child(2n+1) {
  border-right: 1px solid #dddddd;
}
/* line 212, ../../sass/screens/mobile.scss */
.featured-partners-list .views-row .field-type-image, .featured-partners-list .views-row .views-field-type-image {
  float: none;
  margin-right: 0;
}
/* line 220, ../../sass/screens/mobile.scss */
.featured-partners-list .row-last .views-col {
  border-bottom: 1px solid #dddddd;
}
/* line 222, ../../sass/screens/mobile.scss */
.featured-partners-list .row-last .views-col:nth-child(3) {
  border-bottom: none;
}
/* line 225, ../../sass/screens/mobile.scss */
.featured-partners-list .row-last .views-col:nth-child(4) {
  border-bottom: none;
}

/* page contact */
/* line 234, ../../sass/screens/mobile.scss */
#contact-site-form label {
  display: block;
  float: none;
}
/* line 238, ../../sass/screens/mobile.scss */
#contact-site-form .form-type-textarea .form-textarea-wrapper {
  width: auto;
}
/* line 241, ../../sass/screens/mobile.scss */
#contact-site-form .form-type-checkbox {
  padding-left: 0;
}
/* line 243, ../../sass/screens/mobile.scss */
#contact-site-form .form-type-checkbox input, #contact-site-form .form-type-checkbox label {
  display: inline-block;
}
/* line 247, ../../sass/screens/mobile.scss */
#contact-site-form .form-actions {
  padding-left: 0;
}

/*page gallery*/
/* line 255, ../../sass/screens/mobile.scss */
.galleries-list .views-row {
  margin-bottom: 0;
}
/* line 257, ../../sass/screens/mobile.scss */
.galleries-list .views-row .views-col {
  width: 50%;
  margin-bottom: 40px !important;
}
/* line 260, ../../sass/screens/mobile.scss */
.galleries-list .views-row .views-col .grid-inner {
  padding: 0 20px !important;
}
/* line 263, ../../sass/screens/mobile.scss */
.galleries-list .views-row .views-col .views-field {
  margin-bottom: 0;
}
/* line 269, ../../sass/screens/mobile.scss */
.galleries-list .grid a {
  display: inline-block;
}

/*comment*/
/* line 275, ../../sass/screens/mobile.scss */
.comment, .comment-preview {
  margin-bottom: 30px;
}
/* line 277, ../../sass/screens/mobile.scss */
.comment h3, .comment-preview h3 {
  font-size: 1.39em;
}

/*page forum*/
/* line 284, ../../sass/screens/mobile.scss */
#forum div.indent {
  margin-left: 0;
}

/* line 289, ../../sass/screens/mobile.scss */
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: normal;
}

/*user-login*/
/* line 297, ../../sass/screens/mobile.scss */
#user-pass label {
  display: block;
}
/* line 300, ../../sass/screens/mobile.scss */
#user-pass .form-submit {
  margin-left: 0;
}

/* user */
/* line 307, ../../sass/screens/mobile.scss */
#user-profile-form .password-strength, #user-profile-form .password-confirm {
  float: none;
  margin-bottom: 15px;
}

/* line 314, ../../sass/screens/mobile.scss */
#edit-account label {
  display: block;
}

@media (max-width: 640px) {
  /*member list*/
  /* line 323, ../../sass/screens/mobile.scss */
  .our-members-list .views-row .views-col {
    width: 100%;
    float: none;
  }
  /* line 328, ../../sass/screens/mobile.scss */
  .our-members-list .views-field-picture {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  /* line 335, ../../sass/screens/mobile.scss */
  #user-register-form label, #user-login label, #user-pass label {
    display: block;
  }
  /* line 338, ../../sass/screens/mobile.scss */
  #user-register-form .form-submit, #user-login .form-submit, #user-pass .form-submit {
    margin-left: 0;
  }
  /* line 341, ../../sass/screens/mobile.scss */
  #user-register-form .description, #user-login .description, #user-pass .description {
    padding-left: 0;
  }

  /* gallery */
  /* line 347, ../../sass/screens/mobile.scss */
  .galleryformatter .gallery-slides, .galleryformatter .gallery-thumbs {
    width: 100% !important;
  }
  /* line 351, ../../sass/screens/mobile.scss */
  .galleryformatter .gallery-slides .view-full {
    display: none;
  }

  /* line 357, ../../sass/screens/mobile.scss */
  .galleries-list .grid a {
    display: block;
  }
}
/*screen 480*/
@media (max-width: 480px) {
  /* line 365, ../../sass/screens/mobile.scss */
  .form-text {
    max-width: 100%;
  }

  /* line 369, ../../sass/screens/mobile.scss */
  #panel-first-wrapper .intro {
    font-size: 1.08em;
  }

  /*#newsletter-subscribe-form*/
  /* line 375, ../../sass/screens/mobile.scss */
  #newsletter-subscribe-form .form-text {
    width: 100%;
  }

  /*partner*/
  /* line 383, ../../sass/screens/mobile.scss */
  #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    margin-right: 22px;
  }

  /*member list*/
  /*page contact*/
  /* line 392, ../../sass/screens/mobile.scss */
  .contact-form label {
    display: block;
    float: none;
  }
  /* line 396, ../../sass/screens/mobile.scss */
  .contact-form .form-text, .contact-form .form-textarea {
    width: 100%;
  }
  /* line 400, ../../sass/screens/mobile.scss */
  .contact-form .form-type-textarea .form-textarea-wrapper {
    width: 100%;
    float: none;
  }
  /* line 406, ../../sass/screens/mobile.scss */
  .contact-form .form-type-checkbox,
  .contact-form .form-actions {
    padding-left: 0;
  }

  /*user-login*/
  /* line 412, ../../sass/screens/mobile.scss */
  #user-register-form label, #user-login label {
    display: block;
  }
  /* line 416, ../../sass/screens/mobile.scss */
  #user-register-form .form-actions,
  #user-register-form .description, #user-login .form-actions,
  #user-login .description {
    padding-left: 0;
  }
  /* line 419, ../../sass/screens/mobile.scss */
  #user-register-form .form-text, #user-login .form-text {
    width: 100%;
  }

  /* line 424, ../../sass/screens/mobile.scss */
  #user-pass label {
    display: block;
  }

  /* edit user */
  /* user */
  /* line 431, ../../sass/screens/mobile.scss */
  #user-profile-form .confirm-parent, #user-profile-form .password-parent {
    width: auto;
  }
  /* line 434, ../../sass/screens/mobile.scss */
  #user-profile-form .form-text, #user-profile-form .form-select {
    width: 100%;
  }
  /* line 437, ../../sass/screens/mobile.scss */
  #user-profile-form .link-field-column {
    float: none;
    width: auto;
  }

  /*service-list*/
  /* line 446, ../../sass/screens/mobile.scss */
  .service-list .ui-accordion .ui-accordion-content,
  .service-list .ui-accordion .ui-accordion-content {
    padding: 10px !important;
  }
  /* line 450, ../../sass/screens/mobile.scss */
  .service-list .views-field-type-image {
    width: 175px;
  }

  /*galleries*/
  /* line 458, ../../sass/screens/mobile.scss */
  #block-system-main .content .galleries-list .views-col {
    margin-bottom: 20px !important;
  }
  /* line 460, ../../sass/screens/mobile.scss */
  #block-system-main .content .galleries-list .views-col .grid-inner {
    padding: 0 10px !important;
  }

  /* line 469, ../../sass/screens/mobile.scss */
  .galleryformatter .gallery-slides,
  .galleryformatter .gallery-thumbs {
    width: 100% !important;
  }
  /* line 473, ../../sass/screens/mobile.scss */
  .galleryformatter .gallery-frame,
  .galleryformatter .gallery-slide {
    width: 100% !important;
  }

  /* line 478, ../../sass/screens/mobile.scss */
  #user-register-form .form-text, #user-login .form-text, #user-pass .form-text {
    width: 100%;
  }

  /* line 483, ../../sass/screens/mobile.scss */
  #search-form #edit-basic label {
    margin-bottom: 5px;
    display: inline-block;
  }
  /* line 487, ../../sass/screens/mobile.scss */
  #search-form #edit-basic .form-text {
    margin-bottom: 5px;
  }
}
/*screen 360*/
@media (max-width: 360px) {
  /* line 495, ../../sass/screens/mobile.scss */
  #logo {
    padding-top: 7px;
  }

  /*partner*/
  /* line 502, ../../sass/screens/mobile.scss */
  #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    width: 154px;
  }

  /* line 508, ../../sass/screens/mobile.scss */
  .flexslider {
    margin-left: 0;
    text-align: center;
  }
  /* line 511, ../../sass/screens/mobile.scss */
  .flexslider:before {
    position: static;
    background: none;
  }
  /* line 515, ../../sass/screens/mobile.scss */
  .flexslider .testimonial-author-wrapper {
    position: static;
    margin: 0 auto;
  }

  /*footer*/
  /* line 525, ../../sass/screens/mobile.scss */
  #footer-wrapper #block-menu-menu-footer-menu ul.menu li {
    padding-left: 4px;
    padding-right: 4px;
  }

  /*galleries*/
  /* line 536, ../../sass/screens/mobile.scss */
  .galleries-list .views-col {
    margin-bottom: 10px !important;
  }
  /* line 538, ../../sass/screens/mobile.scss */
  .galleries-list .views-col .grid-inner {
    padding: 0 5px !important;
  }

  /*page partner*/
  /* line 545, ../../sass/screens/mobile.scss */
  .featured-partners-list .grid {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 551, ../../sass/screens/mobile.scss */
  .featured-partners-list .grid-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*pager*/
  /* line 561, ../../sass/screens/mobile.scss */
  .item-list .pager li {
    margin-bottom: 3px;
    display: inline-block;
  }

  /*comment*/
  /* line 569, ../../sass/screens/mobile.scss */
  #comments .comment {
    text-align: left;
    padding: 15px;
  }
  /* line 572, ../../sass/screens/mobile.scss */
  #comments .comment .user-picture {
    position: static;
    margin: 0 15px 0 0;
    width: 70px;
  }
  /* line 579, ../../sass/screens/mobile.scss */
  #comments .comment-form .form-text {
    width: 100%;
  }

  /*page services*/
  /* line 585, ../../sass/screens/mobile.scss */
  .service-list {
    margin-bottom: 30px !important;
  }
  /* line 588, ../../sass/screens/mobile.scss */
  .service-list .views-row .field-type-image, .service-list .views-row .views-field-type-image {
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
  }

  /* line 598, ../../sass/screens/mobile.scss */
  div.tabs ul.primary {
    border-bottom: none;
  }
  /* line 601, ../../sass/screens/mobile.scss */
  div.tabs li {
    display: block;
    margin-bottom: 3px;
    text-align: center;
  }
  /* line 605, ../../sass/screens/mobile.scss */
  div.tabs li a {
    display: block;
    margin-right: 0;
    padding: 10px 7px !important;
    border: 1px solid #ddd !important;
    background: none;
    color: #222222;
  }
  /* line 615, ../../sass/screens/mobile.scss */
  div.tabs li.active a {
    border: 1px solid #0c426f !important;
    background-color: #0c426f;
    color: white;
  }
  /* line 621, ../../sass/screens/mobile.scss */
  div.tabs a.active {
    border: 1px solid #dddddd;
  }

  /* line 627, ../../sass/screens/mobile.scss */
  .node.node-teaser .field-type-image,
  .node.node-teaser .field-name-field-image {
    float: none;
    margin-right: 0;
  }

  /* line 633, ../../sass/screens/mobile.scss */
  .blog-list .views-field-type-image {
    float: none;
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* gallery */
  /* line 642, ../../sass/screens/mobile.scss */
  .galleryformatter .gallery-thumbs li {
    width: 120px !important;
  }

  /* search form */
  /* line 650, ../../sass/screens/mobile.scss */
  #search-form #edit-basic label {
    margin-bottom: 5px;
    display: block;
  }
  /* line 654, ../../sass/screens/mobile.scss */
  #search-form #edit-basic .form-text {
    margin-bottom: 15px;
    width: 100%;
  }
  /* line 660, ../../sass/screens/mobile.scss */
  #search-form #edit-advanced .form-submit {
    margin-top: 15px;
  }

  /* line 665, ../../sass/screens/mobile.scss */
  .sticky-enabled th, .sticky-enabled td {
    padding: 7px;
  }
}
/*screen 320*/
@media (max-width: 320px) {
  /* line 672, ../../sass/screens/mobile.scss */
  #logo {
    padding-top: 10px;
  }

  /*partner*/
  /* line 679, ../../sass/screens/mobile.scss */
  #page .jcarousel-container .jcarousel-clip-horizontal .jcarousel-item {
    width: 134px;
  }

  /*service-list*/
  /* line 688, ../../sass/screens/mobile.scss */
  .service-list .ui-accordion .views-accordion-header {
    font-size: 1.08em !important;
  }

  /* gallery */
  /* line 696, ../../sass/screens/mobile.scss */
  .galleryformatter .gallery-thumbs li {
    width: 100px !important;
  }

  /* line 703, ../../sass/screens/mobile.scss */
  #block-system-main .comment .user-picture {
    margin-right: 15px;
  }

  /* line 709, ../../sass/screens/mobile.scss */
  .comment h3, .comment-preview h3 {
    font-size: 1.08em;
  }
}
