/* COLORS */
/* BORDER */
/*font-size*/
/* BUTTON */
/* line 25, ../../../sass/includes/_include.scss */
.grey_button {
  background: #ddd;
  color: #000;
  display: inline-block;
  padding: 5px 10px;
}
/* line 30, ../../../sass/includes/_include.scss */
.grey_button:hover, .grey_button:focus {
  color: #fff;
  background-color: #e09b0f;
}

/* line 36, ../../../sass/includes/_include.scss */
.blue_button, .form-submit {
  margin: 0 10px 10px 0;
  border: none;
  padding: 10px 25px;
  color: #fff;
  font-weight: bold;
  background: #0d436f;
  cursor: pointer;
}
/* line 44, ../../../sass/includes/_include.scss */
.blue_button:hover, .blue_button:focus, .form-submit:hover, .form-submit:focus {
  background-color: #e09b0f;
}

/* line 49, ../../../sass/includes/_include.scss */
.font_awesome {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Transition */
/* line 5, ../../../sass/colors/black/style.scss */
a {
  color: #ff5328;
}
/* line 7, ../../../sass/colors/black/style.scss */
a:hover, a:focus {
  color: #222222;
}

/* header */
/* line 13, ../../../sass/colors/black/style.scss */
#header-wrapper {
  background: white;
}

@media (min-width: 992px) {
  /* line 18, ../../../sass/colors/black/style.scss */
  .tb-megamenu {
    color: #ccc;
  }
  /* line 21, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav > li {
    border-left-color: black;
  }
  /* line 23, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav > li > a {
    border-left-color: #3d3d3d;
  }
  /* line 25, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav > li > a:hover, .tb-megamenu .nav > li > a:focus {
    background-color: #383838;
    border-left-color: #3d3d3d;
  }
  /* line 32, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav .active > a {
    background-color: #ff5328;
  }
  /* line 34, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav .active > a:hover, .tb-megamenu .nav .active > a:focus {
    background-color: #ff5328;
  }
  /* line 41, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav li.dropdown.active > .dropdown-toggle,
  .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle,
  .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: #ff5328;
    border-left-color: #3d3d3d;
  }
  /* line 46, ../../../sass/colors/black/style.scss */
  .tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background-color: #383838;
  }
  /* line 51, ../../../sass/colors/black/style.scss */
  .tb-megamenu .dropdown-menu {
    background-color: #383838;
  }
  /* line 54, ../../../sass/colors/black/style.scss */
  .tb-megamenu .dropdown-menu li > a {
    color: #ccc;
    border-top-color: #444 !important;
  }
  /* line 57, ../../../sass/colors/black/style.scss */
  .tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus {
    color: #ff5328;
  }
  /* line 63, ../../../sass/colors/black/style.scss */
  .tb-megamenu .dropdown-menu .active > a {
    background: none;
    color: #c5c5c5;
  }
  /* line 66, ../../../sass/colors/black/style.scss */
  .tb-megamenu .dropdown-menu .active > a:hover, .tb-megamenu .dropdown-menu .active > a:focus {
    background: none;
    color: #ff5328;
  }
  /* line 75, ../../../sass/colors/black/style.scss */
  .tb-megamenu .mega-nav .mega-group > .mega-group-title,
  .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title,
  .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
    color: #ccc !important;
  }
  /* line 77, ../../../sass/colors/black/style.scss */
  .tb-megamenu .mega-nav .mega-group > .mega-group-title:hover, .tb-megamenu .mega-nav .mega-group > .mega-group-title:focus,
  .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:hover,
  .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title:focus,
  .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:hover,
  .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title:focus {
    color: #ff5328 !important;
  }
  /* line 81, ../../../sass/colors/black/style.scss */
  .tb-megamenu .mega-group .tb-megamenu-submenu {
    background: #383838;
  }
  /* line 86, ../../../sass/colors/black/style.scss */
  .tb-megamenu .dropdown-menu li > a:hover,
  .tb-megamenu .dropdown-menu li > a:focus,
  .tb-megamenu .dropdown-submenu:hover > a {
    color: #ff5328;
  }
  /* line 89, ../../../sass/colors/black/style.scss */
  .tb-megamenu .views-row {
    border-bottom-color: #444 !important;
  }
  /* line 92, ../../../sass/colors/black/style.scss */
  .tb-megamenu .views-row .views-field-title a {
    color: #ccc;
  }
  /* line 94, ../../../sass/colors/black/style.scss */
  .tb-megamenu .views-row .views-field-title a:hover, .tb-megamenu .views-row .views-field-title a:focus {
    color: #ff5328;
  }
  /* line 100, ../../../sass/colors/black/style.scss */
  .tb-megamenu .row-fluid + .row-fluid {
    border-top-color: #444;
  }
}
/* slideshow */
/* line 107, ../../../sass/colors/black/style.scss */
#slideshow-wrapper {
  border-top-color: black;
  background: #d9ddde;
}
/* line 111, ../../../sass/colors/black/style.scss */
#slideshow-wrapper .views-field-type-image:before {
  background: url(images/bg-mask-left.png) 0 repeat-y;
}
/* line 114, ../../../sass/colors/black/style.scss */
#slideshow-wrapper .views-field-type-image:after {
  background: url(images/bg-mask-right.png) 0 repeat-y;
}
/* line 118, ../../../sass/colors/black/style.scss */
#slideshow-wrapper .views-slideshow-controls-text-previous, #slideshow-wrapper .views-slideshow-controls-text-next {
  background: rgba(0, 0, 0, 0.8);
  color: #999;
}
/* line 121, ../../../sass/colors/black/style.scss */
#slideshow-wrapper .views-slideshow-controls-text-previous:hover, #slideshow-wrapper .views-slideshow-controls-text-previous:focus, #slideshow-wrapper .views-slideshow-controls-text-next:hover, #slideshow-wrapper .views-slideshow-controls-text-next:focus {
  background-color: #ff5328;
  color: white;
}

/* ****/
/* line 130, ../../../sass/colors/black/style.scss */
.views-field-title a, .views-field-name a {
  color: #222222;
}
/* line 132, ../../../sass/colors/black/style.scss */
.views-field-title a:hover, .views-field-title a:focus, .views-field-name a:hover, .views-field-name a:focus {
  color: #ff5328;
}

/* sidebar */
/* line 143, ../../../sass/colors/black/style.scss */
.sidebar .item-list li a:hover, .sidebar .item-list li a:focus, .menu-list .item-list li a:hover, .menu-list .item-list li a:focus {
  color: #ff5328;
}
/* line 151, ../../../sass/colors/black/style.scss */
.sidebar .quicktabs-tabs .active a, .menu-list .quicktabs-tabs .active a {
  border-top-color: #ff5328;
}

/* panel third */
/* line 159, ../../../sass/colors/black/style.scss */
#panel-first-wrapper {
  background-color: #d1d1d1;
}

/* panel third */
/* line 167, ../../../sass/colors/black/style.scss */
#page .jcarousel-container .jcarousel-prev:hover, #page .jcarousel-container .jcarousel-prev:focus, #page .jcarousel-container .jcarousel-next:hover, #page .jcarousel-container .jcarousel-next:focus {
  background-color: #ff5328;
}

/* flexslider */
/* line 177, ../../../sass/colors/black/style.scss */
.flexslider .flex-control-paging .flex-active {
  background-color: #ff5328;
}

/* socials */
/* line 187, ../../../sass/colors/black/style.scss */
.social-wrap .social-list li a {
  background-color: #222222;
}
/* line 189, ../../../sass/colors/black/style.scss */
.social-wrap .social-list li a:hover, .social-wrap .social-list li a:focus {
  background-color: #ff5328;
}

/* newsletter */
/* line 199, ../../../sass/colors/black/style.scss */
#newsletter-subscribe-form .form-submit {
  background-color: #222222;
}
/* line 201, ../../../sass/colors/black/style.scss */
#newsletter-subscribe-form .form-submit:hover, #newsletter-subscribe-form .form-submit:focus {
  background-color: #ff5328;
}

/* panel fifth */
/* line 208, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper {
  background-color: #424956;
  border-bottom-color: black;
  color: #c5c5c5;
}
/* line 214, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper ul.menu li a {
  color: #c5c5c5;
}
/* line 216, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper ul.menu li a:hover, #panel-fifth-wrapper ul.menu li a:focus {
  color: #ff5328;
}
/* line 224, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper .item-list ul li {
  border-bottom-color: #5a6271;
}
/* line 226, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper .item-list ul li a {
  color: #c5c5c5;
}
/* line 228, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper .item-list ul li a:hover, #panel-fifth-wrapper .item-list ul li a:focus {
  color: #ff5328;
}
/* line 232, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper .item-list ul li span {
  color: #c5c5c5;
}
/* line 239, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper .view-photo-stream a, #panel-fifth-wrapper .photo-list a {
  border-color: #626a76;
}
/* line 241, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper .view-photo-stream a:hover, #panel-fifth-wrapper .view-photo-stream a:focus, #panel-fifth-wrapper .photo-list a:hover, #panel-fifth-wrapper .photo-list a:focus {
  border-color: #888;
}
/* line 247, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper #newsletter-subscribe-form .form-submit {
  background-color: #ff5328;
}
/* line 249, ../../../sass/colors/black/style.scss */
#panel-fifth-wrapper #newsletter-subscribe-form .form-submit:hover, #panel-fifth-wrapper #newsletter-subscribe-form .form-submit:focus {
  background-color: #222222;
}

/* breadcrumb */
/* line 257, ../../../sass/colors/black/style.scss */
#breadcrumb-wrapper {
  background-color: #424956;
  border-bottom-color: black;
  border-top-color: #5a6271;
}
/* line 261, ../../../sass/colors/black/style.scss */
#breadcrumb-wrapper .breadcrumb {
  color: #c5c5c5;
}
/* line 263, ../../../sass/colors/black/style.scss */
#breadcrumb-wrapper .breadcrumb a {
  color: #c5c5c5;
}
/* line 265, ../../../sass/colors/black/style.scss */
#breadcrumb-wrapper .breadcrumb a:hover, #breadcrumb-wrapper .breadcrumb a:focus {
  color: #ff5328;
}

/* line 275, ../../../sass/colors/black/style.scss */
.ads-list .views-field-title a:hover, .ads-list .views-field-title a:focus, .view-ads .views-field-title a:hover, .view-ads .views-field-title a:focus {
  color: #ff5328;
}

/* footer */
/* line 283, ../../../sass/colors/black/style.scss */
#footer-wrapper {
  background-color: #323841;
  border-top-color: #5a6271;
  color: #c5c5c5;
}
/* line 287, ../../../sass/colors/black/style.scss */
#footer-wrapper a {
  color: #ff5328;
}
/* line 289, ../../../sass/colors/black/style.scss */
#footer-wrapper a:hover, #footer-wrapper a:focus {
  color: white;
}
/* line 295, ../../../sass/colors/black/style.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li {
  border-left-color: #c5c5c5;
}
/* line 297, ../../../sass/colors/black/style.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li a {
  color: #c5c5c5;
}
/* line 299, ../../../sass/colors/black/style.scss */
#footer-wrapper #block-menu-menu-footer-menu ul.menu li a:hover, #footer-wrapper #block-menu-menu-footer-menu ul.menu li a:focus {
  color: #ff5328;
}

/* content*/
/* line 313, ../../../sass/colors/black/style.scss */
#block-system-main .content .node h2 a {
  color: #222222;
}
/* line 315, ../../../sass/colors/black/style.scss */
#block-system-main .content .node h2 a:hover, #block-system-main .content .node h2 a:focus {
  color: #ff5328;
}
/* line 324, ../../../sass/colors/black/style.scss */
#block-system-main .content .our-members-list .grid-inner .social-group a, #block-system-main .content .view-our-members .grid-inner .social-group a {
  color: #ff5328 !important;
}
/* line 330, ../../../sass/colors/black/style.scss */
#block-system-main .content .our-members-list .grid-inner:hover .social-group a, #block-system-main .content .our-members-list .grid-inner:focus .social-group a, #block-system-main .content .view-our-members .grid-inner:hover .social-group a, #block-system-main .content .view-our-members .grid-inner:focus .social-group a {
  color: #ff5328 !important;
}

/* line 341, ../../../sass/colors/black/style.scss */
#block-system-main .content .ui-accordion .ui-state-active, .ui-accordion .ui-state-active {
  background-color: #ff5328;
}

/* pager */
/* line 351, ../../../sass/colors/black/style.scss */
.item-list .pager li a:hover, .item-list .pager li a:focus {
  background-color: #ff5328;
}
/* line 356, ../../../sass/colors/black/style.scss */
.item-list .pager .pager-current {
  background-color: #ff5328;
}

/* comment */
/* line 366, ../../../sass/colors/black/style.scss */
#comments .comment h3 a {
  color: #222222;
}
/* line 368, ../../../sass/colors/black/style.scss */
#comments .comment h3 a:hover, #comments .comment h3 a:focus {
  color: #ff5328;
}

/* forum */
/* line 379, ../../../sass/colors/black/style.scss */
.action-links li a {
  background-color: #ff5328;
}
/* line 381, ../../../sass/colors/black/style.scss */
.action-links li a:hover, .action-links li a:focus {
  background-color: #222222;
}

/* button */
/* line 389, ../../../sass/colors/black/style.scss */
.btn-1 {
  background-color: #ff5328;
}
/* line 391, ../../../sass/colors/black/style.scss */
.btn-1:hover, .btn-1:focus {
  background-color: #222222;
}

/* line 396, ../../../sass/colors/black/style.scss */
.blue_button, .form-submit {
  background-color: #ff5328;
}
/* line 398, ../../../sass/colors/black/style.scss */
.blue_button:hover, .blue_button:focus, .form-submit:hover, .form-submit:focus {
  background-color: #222222;
}

/* line 410, ../../../sass/colors/black/style.scss */
.grey_button:hover,
.node ul.links a:hover,
.comment .links a:hover,
#comments .comment .links a:hover,
.grey_button:focus,
.node ul.links a:focus,
.comment .links a:focus,
#comments .comment .links a:focus {
  background-color: #ff5328;
}

/* line 417, ../../../sass/colors/black/style.scss */
.blue_button,
#comments .form-actions .form-submit,
.contact-form .form-actions .form-submit,
.form-submit {
  background-color: #ff5328;
}
/* line 419, ../../../sass/colors/black/style.scss */
.blue_button:hover, .blue_button:focus,
#comments .form-actions .form-submit:hover,
#comments .form-actions .form-submit:focus,
.contact-form .form-actions .form-submit:hover,
.contact-form .form-actions .form-submit:focus,
.form-submit:hover,
.form-submit:focus {
  background-color: #222222;
}

/* form search */
/* line 426, ../../../sass/colors/black/style.scss */
.search-form .form-submit {
  background-color: #222222;
}
/* line 428, ../../../sass/colors/black/style.scss */
.search-form .form-submit:hover, .search-form .form-submit:focus {
  background-color: #ff5328;
}

@media all and (max-width: 991px) and (min-width: 768px) {
  /* line 435, ../../../sass/colors/black/style.scss */
  #slideshow-wrapper {
    border: none;
  }
}
@media all and (max-width: 767px) {
  /* line 441, ../../../sass/colors/black/style.scss */
  #slideshow-wrapper {
    border: none;
  }
}
/* line 448, ../../../sass/colors/black/style.scss */
.blog-list .views-field-name a {
  color: #ff5328;
}
/* line 450, ../../../sass/colors/black/style.scss */
.blog-list .views-field-name a:hover, .blog-list .views-field-name a:focus {
  color: black;
}
/* line 457, ../../../sass/colors/black/style.scss */
.blog-list .views-field-view-node a:hover, .blog-list .views-field-view-node a:focus {
  background-color: #ff5328;
}
